[2020-12-19 18:40] anushbhatia opened #1 "Adding Logo"
Adding a logo in the side nav from the assets folder.
Also adding a logo in the about app page

[2020-12-19 18:42] anushbhatia opened #2 "Camera Based Scanner"
Camera Scanner Doesn't save images in the gallery.
Implementing the gallery function there

[2020-12-19 18:45] anushbhatia opened #3 "Settings Page"
Add a setting page for adding
- reporting a bug
- request a feature
- contact developers

[2020-12-19 18:47] anushbhatia opened #4 "Implementing Search"
Adding the feature of searching

[2020-12-26 14:38] Tejas-Ladhani opened #5 "Improve Docs"
Need to update the documentation . Unable to understand -what we need to achieve

[2020-12-26 14:40] anushbhatia commented on #5
Sure go ahead with it

[2020-12-26 14:47] infiniteoverflow opened #6 "iOS Camera Access bug"
**Issue :** The app crashes in iOS when someone clicks on the camera button.

**Possible Solution :** We may have to add certain permissions in the `info.plist` file in the ios folder of the project.

[2020-12-26 14:49] anushbhatia commented on #6
Sure I haven't added the file for it.

[2020-12-26 14:51] infiniteoverflow commented on #6
Sure , I will work on that.

[2020-12-26 16:36] Tejas-Ladhani commented on #5
okay

[2020-12-26 17:46] smriti1313 commented on #5
Hi,I would like to contribute in this too. Also as I read on devscript website, your project is included in projects given by DWOC but i see no label of DWOC on any of the issues. Kindly look into it and let me know. Thank you

[2020-12-26 17:55] smaranjitghose commented on #5
Don't worry even at times the label is not there if you are assigned it just give me or @anushbhatia a reminder. We will definitely  update it😊

[2020-12-27 06:46] Vrushti24 commented on #4
I wanted to contribute in this please guide me

[2020-12-27 06:47] Vrushti24 commented on #1
I would love to contribute in this!!

[2020-12-27 07:33] Amit366 commented on #3
I wan t to contribute to this.

[2020-12-27 07:33] Amit366 commented on #3
I want to contribute to this.

[2020-12-27 10:09] Sloth-Panda commented on #4
HEY, can I also get this issue?

[2020-12-27 12:23] #5 closed

[2020-12-27 16:23] Vrushti24 opened #9 "adding splash screen"
Adding splash screen in app makes it look more attractive

[2020-12-27 16:27] Vrushti24 commented on #9
I would love to work on it

[2020-12-27 18:50] anushbhatia commented on #6
is the bug resolved now

[2020-12-27 18:51] anushbhatia commented on #1
logos are added to assets folder if you need pngs for it ping me on slack

[2020-12-28 02:32] infiniteoverflow commented on #6
Yes , it is resolved

[2020-12-28 05:17] infiniteoverflow opened #10 "Undo Button Routes the screen to the initial state"
This could be considered as an enhancement to the existing code.

**How to reproduce :**
- In the HomePage , choose either of the FAB button (Take an image / Open gallery).
- Once an image is selected , it will be redirected to the `Imageview` class.
- At the bottom we have an Undo button which routes to the same class to undo the changes that was brought to the image.

**Solution :**
- We can hav

[2020-12-28 08:04] #6 closed

[2020-12-28 08:06] smaranjitghose commented on #9
Do let us know about the designs in this issue.

[2020-12-28 08:08] Vrushti24 commented on #9
Yeah I will do that how time can u give me to design ?
My classes are going on so

On Mon, Dec 28, 2020, 1:37 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2020-12-28 08:36] smaranjitghose commented on #9
Tomorrow evening? or within the next 1-2 days as per your schedule?

[2020-12-28 08:38] Vrushti24 commented on #9
Yeah, I can do that. First I have to show u the design then after you say
yes after I will implement it okayy

On Mon, Dec 28, 2020, 2:06 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2020-12-28 08:43] smaranjitghose commented on #9
Ya. Do you use AdobeXD?
If you design it there, you can generate the Flutter code directly using a plugin.
Also, feel free to shoot messages to @anushbhatia. He's our UI/UX ninja. I am more on the scripting side

[2020-12-28 08:47] Vrushti24 commented on #9
No I don't know anything about adobeXD I can do on vscode but I will try
thank u

On Mon, Dec 28, 2020, 2:13 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2020-12-28 10:19] chehak123 commented on #1
I would like to work on this issue under DWoc.

[2020-12-28 11:04] smaranjitghose commented on #1
Please wait for 2 more days till @Vrushti24 gives a PR.

[2020-12-28 11:22] infiniteoverflow commented on #10
I think the label should have been dwoc

[2020-12-28 11:26] infiniteoverflow commented on #10
This issue has been resolved

[2020-12-28 11:49] #10 closed

[2020-12-28 15:20] tharunc opened #12 "UPDATE readme.md"
Hello there,
    I would like to work on the readme.md file issue. Can you please assign it to me.

[2020-12-28 20:12] ssg8288 opened #13 "Create Code of conduct.md"
Hey, your repo is lacking a code of conduct markdown file and I am interested in contributing to it kindly assign it to me. Thank you.

[2020-12-29 04:15] Vrushti24 commented on #9
hey the label DWOC is not added please add that
@smaranjitghose

[2020-12-29 04:19] Vrushti24 commented on #9
@smaranjitghose I would make an animated splash screen in which logo and text would be animated in center with a suitable background is that OK??

[2020-12-29 12:37] tharunc opened #14 "pubscpec.yaml Issue"

[2020-12-29 12:38] tharunc commented on #14
The flutter_sdk is not compatible with the PDF version.

[2020-12-29 18:11] Vrushti24 commented on #9
I have made the screen shall I upload that? . I have made animated splash
screen and yes please add DWOC tag in it

On Mon, Dec 28, 2020, 2:17 PM Vrushti Shah <vrushtishah24@gmail.com> wrote:

[2020-12-29 18:21] himanshu007-creator commented on #3
please assign me this issue

[2020-12-29 18:21] himanshu007-creator commented on #1
please assign me this issue

[2020-12-29 19:10] anushbhatia commented on #13
Already Completed

[2020-12-29 19:10] #13 closed

[2020-12-29 19:11] anushbhatia commented on #12
What enhancements you want to make and I will assign you this for it.

[2020-12-29 19:37] tharunc commented on #12
I have an idea to convert the standard jpg pic into gif.

[2020-12-29 20:13] anushbhatia commented on #12
Go, ahead

[2020-12-30 01:49] Jahnavi-Jonnalagadda commented on #2
@anushbhatia @smaranjitghose I would like to work on this issue.

[2020-12-30 06:02] anushbhatia commented on #2
Sure go on

[2020-12-30 06:05] Jahnavi-Jonnalagadda commented on #2
@anushbhatia, should the captured images be saved in the app gallery or in device local storage? Could you please clarify?

[2020-12-30 07:04] smaranjitghose commented on #2
Local Device Storage

[2020-12-30 07:18] smaranjitghose commented on #9
Ya do give a PR

[2020-12-30 07:30] Vrushti24 commented on #9
@smaranjitghose can u guide me how to make a PR ?

[2020-12-30 07:33] Vrushti24 commented on #1
@smaranjitghose I have already completed adding logos and u have unassigned me now I said u that i was having my classes so u said no problem now what should  I do?

[2020-12-30 07:45] smaranjitghose commented on #1
Yes I remember, You can still go ahead with the PR within next 3 days.

[2020-12-30 07:47] smaranjitghose commented on #9
Sure.
I have laid out the guide to it [here](https://github.com/smaranjitghose/awesome-portfolio-websites)

[2020-12-30 07:47] Vrushti24 commented on #1
okay I will do PR today.

[2020-12-30 07:51] himanshu007-creator commented on #1
@smaranjitghose sir pr sent , i have added logo file.https://github.com/smaranjitghose/DocLense/pull/15

[2020-12-30 08:12] Vrushti24 commented on #9
PR #16 added check it out.

[2020-12-30 08:12] Vrushti24 commented on #1
PR #16 added check it out.

[2020-12-30 16:59] himanshu007-creator commented on #3
sir job done.
https://github.com/smaranjitghose/DocLense/pull/18
![ss](https://user-images.githubusercontent.com/65963997/103368778-6d382500-4aee-11eb-99b7-7b9005d84cf3.png)

[2020-12-31 18:39] Vrushti24 commented on #1
I have updated PR #16 please check that out

[2021-01-01 10:27] muthuannamalai12 opened #19 "Update Code Of Conduct.md"
Hai,
I would love to update the Code of Conduct by avoid keeping the links direct in line 71 and 76 in code of conduct. I will also add a link to Code of Conduct in the README.md file as you know code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-01-01 10:27] muthuannamalai12 commented on #19
I would love to work on this issue as a part of DWOC.Kindly assign me this issue

[2021-01-01 18:15] muthuannamalai12 commented on #19
I have created a pull request.Kindly review it

[2021-01-02 06:10] Vrushti24 commented on #4
is it possible that after one week i will work on this issue because my exams are going to start on monday 4th jan ?? is it okk? @smaranjitghose

[2021-01-02 11:20] smaranjitghose commented on #4
In that case, I'll reassign you once your exams are over.

[2021-01-02 11:22] Vrushti24 commented on #4
Okay

On Sat, Jan 2, 2021, 4:50 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2021-01-03 15:00] #9 closed

[2021-01-03 15:01] Vrushti24 commented on #1
@smaranjitghose  I am not able to close this issue how can close this my PR was successfully merged

[2021-01-04 07:10] #1 closed

[2021-01-05 19:41] akrish4 opened #22 "Contributing.md file"
Hi @smaranjitghose
I would like to contribute to this repository
I found that there is no contributing file which will have all contributing guidlines and all git workflow commands so that a begineer can understand the guidlines and understamd the git workflow

Kindly assign me this issue

@smaranjitghose

[2021-01-06 18:44] tharunc opened #23 "Integrate Welcome Bot"
Hello there,
         I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. Please assign me this issue. For reference, kindly check out: https://github.com/apps/welcome
THANK YOU

[2021-01-07 16:28] Vrushti24 commented on #4
my exams will get over tomorrow so I will start working on this tomorrow . Is it okay?
@smaranjitghose

[2021-01-07 16:29] smaranjitghose commented on #4
Sure

[2021-01-08 06:58] yashsehgal commented on #3
Hey Can you assign me this issue?

[2021-01-08 09:07] yashsehgal commented on #3
Thanks for assigning me this issue, I'll be sharing the design concepts soon. Also, What's the level of this issue?

[2021-01-09 08:31] yashsehgal commented on #3
Hey @smaranjitghose, I wanna ask you a question. Do I have to use plain HTML and CSS to implement the design?

[2021-01-09 08:40] yashsehgal commented on #3
And How's this one? Shall I start with the UI design implementation?

[2021-01-09 09:03] smaranjitghose commented on #3
NO. This is a flutter project

[2021-01-09 11:34] tharunc opened #24 "ADD ISSUE_TEMPLATE"
Hello there,
           I would like to add an issue template for your repository. This template would have four issues namely bug, documentation, feature, proposal. Kindly assign me this issue as a part of **DWOC**.
THANK YOU

[2021-01-09 12:12] smaranjitghose commented on #24
Not Required

[2021-01-09 12:12] #24 closed

[2021-01-09 13:36] smaranjitghose commented on #23
Not required

[2021-01-09 13:36] #23 closed

[2021-01-09 13:37] smaranjitghose commented on #22
Not required as of now

[2021-01-09 13:37] #22 closed

[2021-01-09 13:49] carbseater opened #25 "Adding Issue templates"
Hello there,
I would like to add an issue template for the repository. This template would have issues namely bug, feature. Kindly assign me this issue as a part of DWOC.
THANK YOU

[2021-01-09 18:36] smaranjitghose commented on #25
Not Required.

Whenever you see someone else raise this issue, kindly refer to these🙏

#22 #23 #24

[2021-01-09 18:36] #25 closed

[2021-01-10 20:37] Rishabhc711 opened #26 "OCR feature"
Since we are already scanning the document , it would be even better if we give the users the option of converting it into a text file or pdf once if recognises all the text characters of the scanned image
 I would like to work on the issue

[2021-01-11 18:06] smaranjitghose commented on #26
How do you propose we intergrate the OCR model ( I do not recommend using Tesseract) into the Flutter APP?

[2021-01-11 19:41] Rishabhc711 commented on #26
I am not very sure of the exact integration method we could use for it. But we can use a pre-trained model's weights, train it on our use case's dataset and then we can look forward to integrating it into the app.

As far as i know we can plugin our own tensorflow models in the flutter app

[2021-01-11 19:41] Rishabhc711 commented on #26
https://medium.com/@am15hg/text-classification-using-tensorflow-lite-plugin-for-flutter-3b92f6655982

This article deals with the problem, but it doesn't train its own model , instead its directly integrates a model from tensorflow.

[2021-01-13 12:25] smaranjitghose commented on #26
Yes I am aware of using tflite with Flutter. But for that you need to train your own model, quantize it and then convert it to tflite

[2021-01-13 13:09] kanishkaa24 opened #27 "CONTRIBUTING.MD"
I want to create a more pictorial format of contributing guidelines. I have already made them for two projects in DWOC.

[2021-01-13 13:19] smaranjitghose commented on #27
Sure!

[2021-01-13 14:46] #27 closed

[2021-01-13 17:41] Rishabhc711 commented on #26
I think I can use the pretrained weights to create a new model, train it on a dataset on GPU-enabled google colab. Since it is fort he purpose of OCR, i think it can be done. I have done a similar docscanner project in the past but we didnt worry for its integration with a mobile app back then.
Seems challenging , but worth a try!
What do you say  @smaranjitghose?

[2021-01-14 09:40] himanshu007-creator commented on #12
sir, if it doesnt work out , assign me thi sissue, i would like to work on it

[2021-01-14 22:30] smaranjitghose opened #29 "Testing"

[2021-01-14 22:30] smaranjitghose commented on #29
/polls Why WhyNot?

[2021-01-16 09:54] Vrushti24 commented on #4
PR #30 done please check it. @smaranjitghose
and please add level tag

[2021-01-17 19:39] anushbhatia opened #32 "App Drawer to load all locally stored images"
Currently, once the pdf is saved is not loaded in the home of the document so that we can refer it easily.
So adding a feature to access the pdf from the home page which is downloaded and saved in your system.

[2021-01-17 19:42] anushbhatia opened #33 "Adding a feature to share the pdf from the home screen"
Adding a pdf and them giving various options to share the pdf

[2021-01-17 19:42] #29 closed

[2021-01-17 19:43] #3 closed

[2021-01-17 19:43] anushbhatia opened #34 "Settings Page"
Implementing the setting page .

reporting a bug
request a feature
contact developers

[2021-01-17 19:44] anushbhatia commented on #14
is everything resolved?

[2021-01-17 19:45] anushbhatia opened #35 "Updating pubspec.yaml dependencies in the project"
Updating all current dependencies in the project to a latest version so that they are compatible with all devices.

[2021-01-17 19:47] #2 closed

[2021-01-17 19:48] anushbhatia opened #36 "Improving about us page with our logo"
Updating the current text adding svgs and illustrations to make it attractive.

[2021-01-17 22:09] tharunc commented on #14
Yes, a long ago.
Kindly add the level and DWOC tag.

[2021-01-18 03:39] anushbhatia commented on #14
Already done

[2021-01-18 03:39] #14 closed

[2021-01-20 06:58] Vrushti24 commented on #4
hey @smaranjitghose I have been trying to solve the error but I am nit able to fix this I have been working on these long time any suggestions what should i do now?

[2021-01-20 07:06] anushbhatia opened #37 "Full length Image PDF"
Currently, the pdf formed is having white spaces in it. Improving it by only representing the size of the image as a particular page in the pdf formed.

[2021-01-20 09:31] Vrushti24 commented on #4
as u said I made a new PR #38  which is only code of search hope this works. @smaranjitghose

[2021-01-20 10:57] Rishabhc711 commented on #26
Should I work on this issue? @smaranjitghose

[2021-01-20 10:59] Rishabhc711 commented on #26
And can u add the DWOC label if I proceed with this? @smaranjitghose

[2021-01-20 12:31] Vrushti24 commented on #4
And can u please add level tag thank u @smaranjitghose

[2021-01-20 14:06] smaranjitghose commented on #4
It will be counted via the PR

[2021-01-20 14:08] smaranjitghose commented on #26
Unless we can integrate the model, the entire effort would be futile. Read some blogs on it and get back to us

[2021-01-20 14:11] Vrushti24 commented on #4
Okay 👍

On Wed, Jan 20, 2021, 7:37 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2021-01-20 17:30] Vrushti24 commented on #4
@anushbhatia As u said I have added my file but in my pc I saw some strange error I guess there was some problem on my pc but I have added only my file as u said PR #39 .

[2021-01-22 16:11] shagun25 commented on #35
i would like to take this issue.

[2021-01-22 17:14] Vrushti24 commented on #36
Can I take up this issue ??

[2021-01-23 04:26] Vrushti24 commented on #36
So u want text to be same but want some changes in background to look this more attractive ?
@anushbhatia @smaranjitghose

[2021-01-23 05:22] anushbhatia commented on #36
Text can also be enhanced and illustrations can be taken from open  peeps website or undraw

[2021-01-23 05:24] Vrushti24 commented on #36
okay

[2021-01-23 05:28] Vrushti24 commented on #4
@anushbhatia can u merge this PR if its okay? PR #39

[2021-01-23 07:02] Vrushti24 commented on #36
Sir  I m using AdobeXd is it okay ??

On Sat, Jan 23, 2021, 10:52 AM Anush Bhatia <notifications@github.com>
wrote:

[2021-01-23 18:56] Vrushti24 commented on #36
Sir check PR #40 @anushbhatia  @smaranjitghose

[2021-01-24 04:28] infiniteoverflow commented on #34
I would like to work on this as a part of DWOC. Can i get this issue assigned?

[2021-01-24 07:04] niloysikdar commented on #34
I want to work on this issue , -- JWOC mentee .

[2021-01-25 11:09] infiniteoverflow commented on #34
Are there any designs i should follow ?

[2021-01-25 14:45] Niteshkr123 commented on #33
I want to solve this issue. can you plz assign me to do that

[2021-01-25 14:53] anushbhatia opened #42 "Suggestion And Features in App"
Feel free to add up any suggestion in the current project and add this here.

[2021-01-25 14:54] anushbhatia commented on #35
Great work @shagun25 ✨✨🎉

[2021-01-25 14:54] #35 closed

[2021-01-25 14:54] anushbhatia commented on #34
Nothing as of now but will give it if you want

[2021-01-25 14:56] anushbhatia opened #43 "Redesign App Drawer"
Following the Colour Codes given in the readme.
Adding relevant icons to denote the particular section if you want.

[2021-01-25 14:59] infiniteoverflow commented on #34
Yes , could use a reference

[2021-01-25 15:02] anushbhatia opened #44 "App taking long time to install in devices"
Working perfectly with the emulator but causing some issue to install in mobile as it takes a pretty long time to install.

[2021-01-25 15:03] anushbhatia commented on #34
![Screenshot_20210125_202912_com adobe scan android](https://user-images.githubusercontent.com/40017559/105723304-a37d8e80-5f4c-11eb-8bf9-cd50d2d4a060.jpg)

[2021-01-25 15:06] anushbhatia opened #45 "Having an Option to Save PDF to desired location"
Giving an option to save the pdf to the desired place.

[2021-01-25 15:08] anushbhatia opened #46 "Add a feature to rate the App"
Adding a feature to give the star rating to the app.
Redirect to the user to Playstore as soon he finishes rating it in-app.

[2021-01-25 15:11] infiniteoverflow commented on #34
Thanks

[2021-01-25 15:14] anushbhatia opened #47 "Give an option to share the app"
Add this feature in-app drawer where on clicking this he gets an option to share the app to other users.
Also, add a custom message on click of sharing.

[2021-01-27 06:17] infiniteoverflow commented on #45
I would like to work on this issue.

[2021-01-27 07:24] infiniteoverflow commented on #45
@anushbhatia I have a pending PR , i think i can work on this issue once it is merged , otherwise the changes i make might get conflicted with it as it is off the main branch.
Can you please have a look. Thank you.

[2021-01-27 11:58] Niteshkr123 commented on #42
I would like to add an option of quick action. Whenever users will long-press the Doclence icon, they will get multiple options like home, about app, and setting. Clicking on that icon will redirect them directly to that screen

[2021-01-27 13:35] trupti123-sahu commented on #43
Sir , can u assign me this issue

[2021-01-27 15:55] anushbhatia commented on #45
sure will do it now

[2021-01-27 15:56] anushbhatia commented on #42
Sure great idea go on

[2021-01-27 17:21] Niteshkr123 commented on #42
Thank you, Sir!
Please create a new issue of it and add a DWOC label. I Will address that issue :)

[2021-01-28 04:43] smaranjitghose commented on #42
You can raise the issue yourself. We will add the label accordingly. Meanwhile, you can get started working on the PR

[2021-01-28 04:47] anushbhatia opened #50 "Long Press actions"

[2021-01-28 04:48] anushbhatia commented on #50
@Niteshkr123 you can now work on this

[2021-01-28 07:06] Niteshkr123 commented on #50
Yeah sure. Thank you for assigning :)

[2021-01-28 09:55] trupti123-sahu commented on #43
Sir can u help me
what type of enhancement is actually required  in drawer???

[2021-01-29 04:19] infiniteoverflow commented on #47
I Would like to work on this.

[2021-01-29 07:26] Niteshkr123 commented on #46
Can you please assign me this issue

[2021-01-29 18:38] Niteshkr123 commented on #44
I  think I can address this issue. I have been doing research on it, I found there are some minor mistakes in the dart file and also the debug show banner option is still visible even though it's false.
Can you please give me chance, because I have spent much time in understanding it

[2021-01-29 22:18] anushbhatia commented on #44
Sure take a week for this

[2021-01-30 21:32] smaranjitghose commented on #43
@anushbhatia Can you help out with a mockup please

[2021-01-31 17:24] Niteshkr123 commented on #42
![Screenshot_2021-01-31-22-52-37-94_7294a262473530cafd6e94bd645d3149](https://user-images.githubusercontent.com/43056842/106392291-20aa7700-6417-11eb-89f9-47e4517e438a.png)

Sir I was exploring some parts of app and found there is pixel overflow in bottom. I want to raise and address this issue. Please allow me to do that

[2021-02-01 17:23] Niteshkr123 commented on #37
Can you assign me this issue

[2021-02-01 18:12] #47 closed

[2021-02-01 18:27] smaranjitghose commented on #42
Sure fo ahead and raise an issue

[2021-02-01 18:36] Niteshkr123 opened #57 "image preview screen enhancement"
Avoid pixel overflow condition after an image is selected from camera/gallery.

[2021-02-01 18:38] Niteshkr123 commented on #57
Kindly assign me this issue and add tags to it

[2021-02-03 02:46] infiniteoverflow opened #62 "Saved Documents in the Homepage"
I would like to share my approach for showing the pdfs created by the user in the homepage as they open it :

- In the screen where we save the pdf after creating it, we can add the directory link to an object in shared_preferences. So every time a user creates a pdf, the link can be appended to it.
- We can retrieve the list of directories from shared_preferences in the homepage and show a list/g

[2021-02-03 06:54] anushbhatia commented on #62
Sure go ahead with this

[2021-02-03 13:49] smaranjitghose commented on #62
Fantastic! Would love to see this

[2021-02-03 13:58] infiniteoverflow commented on #62
Working on this ✌ , kind of slow due to exams , but will complete this asap.

[2021-02-03 14:43] smaranjitghose commented on #62
No worries, bro
I can understand

[2021-02-04 13:21] Vrushti24 commented on #4
PR #67 hope so works now I have attached screenshot of this

[2021-02-04 13:22] Vrushti24 commented on #36
PR #67 hope so works now I have attached screenshot of this

[2021-02-06 12:38] Saransh-cpp opened #71 "Selecting an image from the gallery gives an error on the console"
The error is described below

[code]

Here is the full error
[code]

I'd like to work on this issue as a part of MWoC.

[2021-02-06 12:48] Saransh-cpp opened #72 "Enhancement: Adding animation when pushing another screen"
A small yet a good enhancement to improve a user's overall experience where the pages when pushed will Fade In (or any other animation of your choice) instead of popping in from down like it happens right now. I'd like to work on this enhancement as a part of MWoC.

[2021-02-06 13:09] Saransh-cpp opened #73 "Bug: Home button in the App drawer pushes extra Home screen above the original home screen"
Clicking on the home button in the app drawer right now pops the present screen and then pushes the home screen described in the code
[code]
 but somehow pressing the back button takes me back to the previous screen. This becomes a bit inefficient and also creates another problem, when the button is pressed on the home screen, you get a stack with two home screens in it, one of them being on top o

[2021-02-06 13:42] Saransh-cpp opened #74 "Feature: Implementing theme change option"
This feature right now is not working in the app. I'd like to work on it as a part of MWoC and I was thinking of just giving the user a switch, to switch between 2 themes rather than a dropdown menu which is present in the app right now. Please give your inputs so I can start working on this. Thank you.

[2021-02-07 06:01] anushbhatia commented on #74
Sure, settings page has this feature you can add this there

[2021-02-07 06:03] #34 closed

[2021-02-07 10:17] Saransh-cpp commented on #74
@anushbhatia, I have been working on this feature and PR is going to be huge so can you please review and merge other pull requests which you intend to merge? as once I create this PR it will create a lot of conflicts.

[2021-02-07 10:21] #72 closed

[2021-02-07 15:37] Saransh-cpp commented on #74
The feature is complete, here are some of the screens in both modes. Please review and accept my other PR so I can pull the code from the original repository, it will become very difficult for me to solve conflicts in this PR. Thank you so much:).

<img src="https://user-images.githubusercontent.com/74055102/107150903-11cb4380-6986-11eb-92d7-a41720f649ec.png" height="500"/>
<img src="https://user-

[2021-02-07 17:22] infiniteoverflow opened #77 "Feature : Implement an Onboarding Screen for First Time Users"
Onboarding screen could be something like this : https://pub.dev/packages/introduction_screen

We could show this particular screen to only those users who have opened the app for the first time, for others we could redirect them directly to the HomePage.

@smaranjitghose @anushbhatia Kindly express your views on this. Thank you !!

[2021-02-07 18:07] Niteshkr123 commented on #46
Hello sir, I have solved this issue and it's PR has been merged successfully. Kindly add DWOC and level tag in my PR too.

[2021-02-07 18:15] smaranjitghose commented on #77
Yes, we can go ahead with this!

[2021-02-07 18:16] smaranjitghose commented on #77
@infiniteoverflow DocLense is also a part of IEEEDTU CWOC. If you wish do register for it as well so that you can benefit more from your valuable additions!

[2021-02-07 18:56] infiniteoverflow commented on #77
Thanks @smaranjitghose , but actually im mentoring in CWOC with one of my projects too !!

[2021-02-08 14:51] smaranjitghose commented on #77
Oh. Cool

[2021-02-08 14:51] #46 closed

[2021-02-08 17:36] #71 closed

[2021-02-08 20:02] #32 closed

[2021-02-08 21:01] #26 closed

[2021-02-08 21:02] #62 closed

[2021-02-08 21:02] #45 closed

[2021-02-08 21:03] anushbhatia opened #82 "Improving about us page with our logo"
Updating the current text adding svgs and illustrations to make it attractive.

[2021-02-08 21:03] #36 closed

[2021-02-08 21:04] #4 closed

[2021-02-08 21:05] anushbhatia opened #83 "Implementing Search"
To implement searching for a particular pdf

[2021-02-08 21:06] anushbhatia opened #84 "Redesign App Drawer"
Following the Colour Codes given in the readme.
Adding relevant icons to denote the particular section if you want.

[2021-02-08 21:06] #43 closed

[2021-02-09 05:28] infiniteoverflow opened #85 "Feature : Migrate Local Storage to Hive"
This feature will use the power of HiveDB. HiveDB is a NoSQL Local Storage for apps. We can implement Hive for the following cases where SharedPreferences are currently used :

- Save the list of saved pdfs
- We can create a Preference class whose attributes will be the preferences users select like 'darkTheme' , etc and store it in the database. By this, it will be easier to access all the user p

[2021-02-09 06:38] souravseal99 opened #86 "Fix: Documentation"
There were some typos in the documentation ( in README.md file, under the heading Contribution Guidelines).

- [ ] The link in point no 4
- [ ] In point no 6, it's not mentioned that for this project the master branch is the main branch.
- [ ] There is a typo in point no 15.

[2021-02-09 06:41] souravseal99 commented on #86
If this is a valid issue, I would like to make a PR on this.
I have already made the necessary changes.

[2021-02-09 06:54] anushbhatia commented on #85
how is it better than firebase?

[2021-02-09 06:55] anushbhatia commented on #86
Sure go ahead

[2021-02-09 06:58] anushbhatia commented on #84
![Screenshot_20210209_122703_com adobe scan android](https://user-images.githubusercontent.com/40017559/107326886-36cccd00-6ad2-11eb-81ca-12b3516e517e.jpg)
Instead of the profile we can use the logo rest the same design can be implemented

[2021-02-09 06:59] infiniteoverflow commented on #85
We can of course use firebase for cloud storage.
We can use Hive for local storage which can be accessed offline where firebase needs internet connections.

And also we can use hive to store user preferences like theme (Dark or light) And other options that the user selects from the settings screen.

[2021-02-09 07:24] anushbhatia commented on #85
Let me discuss with @smaranjitghose and let you know by today

[2021-02-09 08:16] infiniteoverflow commented on #85
Sure. Thanks

[2021-02-09 09:58] Saransh-cpp commented on #84
I'd like to work on this issue. Only adding break lines and arranging the tiles in a group is required right?

[2021-02-10 07:15] Saransh-cpp opened #88 "App Crash: Pressing the crop button makes the app crash"
Using the crop feature makes the app crash both on my emulator and my physical device. The cause for this is some missing lines in ```AndroidManifest.xml```.

After adding the code, the app works perfect but if I initially choose to crop, but then go back from the crop screen without cropping the image, it gives me an error saying the imagefile is null. This is solved by giving a minor tweek to ``

[2021-02-10 11:18] Saransh-cpp opened #89 "Image is overly stretched in the Imageview screen"
The image becomes unusually stretched in this page and creates inconsistency as the image in the immediate next page (Filterview.dart) is not at all stretched.

### Imageview

![Screenshot_1612955793](https://user-images.githubusercontent.com/74055102/107503107-8f2dc880-6bbf-11eb-98ea-1511bdf6843e.png)

### Filterview

![Screenshot_1612955796](https://user-images.githubusercontent.com/74055102/107

[2021-02-10 13:27] infiniteoverflow commented on #85
hii @anushbhatia  , any updates on this ?

[2021-02-10 18:20] #86 closed

[2021-02-11 02:03] #74 closed

[2021-02-11 04:59] anushbhatia opened #94 "Replacing all pngs with the svgs 👾"
You need to replace all png to svgs using flutter_svg plugin present in dart. If you are using any other method do mention that in comments before making a PR.

[2021-02-11 05:34] #89 closed

[2021-02-11 06:03] anushbhatia opened #98 "Improving All the FAB buttons"
Changing the colours of a button from green on the next step to another colour blue and white for that.
Currently, the button is not visible possible.
![image](https://user-images.githubusercontent.com/40017559/107606618-a7075a00-6c5c-11eb-884f-06831e9343cd.png)

Also, change the app bar of the about similar to the complete app.

[2021-02-11 06:05] anushbhatia opened #99 "Improving the style of displaying the pdf's in home page"
Currently, there are represented just by a white card with its name on it we add multiple features to it.
Design and features of it are listed below check them and also you can implement each feature at a time.

[2021-02-11 06:08] anushbhatia commented on #99
![Screenshot_20210211_113747_com adobe scan android](https://user-images.githubusercontent.com/40017559/107606957-c18e0300-6c5d-11eb-84c5-4e0eff570828.jpg)
![Screenshot_20210211_113752_com adobe scan android](https://user-images.githubusercontent.com/40017559/107606965-c81c7a80-6c5d-11eb-882b-3893a7708a97.jpg)

[2021-02-11 06:28] Saransh-cpp commented on #98
Can you please list all the improvements needed? The visibility issues of the buttons were solved in PR #81 and I pulled the main branch and checked again, the buttons are visible now!

[2021-02-11 06:34] #88 closed

[2021-02-11 06:37] anushbhatia commented on #98
It is working perfectly in dark mode these improvements are in the light mode only.

[2021-02-11 06:37] #57 closed

[2021-02-11 06:37] #44 closed

[2021-02-11 06:38] #50 closed

[2021-02-11 06:38] #37 closed

[2021-02-11 06:44] anushbhatia opened #100 "PDF with no borders"
Currently, the pdf formed is having white spaces in it. Improving it by only representing the size of the image as a particular page in the pdf formed.
![image](https://user-images.githubusercontent.com/40017559/107608594-6a3e6180-6c62-11eb-9af3-5deb0016062a.png)
There should be no white space around images

[2021-02-11 06:51] anushbhatia commented on #85
Sure go ahead with it will be great as the user won't need the internet for running of this and that's a great advantage

[2021-02-11 07:13] Saransh-cpp commented on #94
I was trying to add the flutter_svg dependency in my fork but it shows
[code]

I ran ```flutter upgrade``` after fixing some issues with flutter sdk on my device and it shows that flutter is already up to date. I guess the latest version of the plugin is only available on the beta channel of flutter.

I found a way around by using a previous version of flutter_svg. I hope that this won't be a prob

[2021-02-11 08:06] Niteshkr123 commented on #100
Can you plz assign me this issue

[2021-02-11 09:51] Saransh-cpp commented on #84
@anushbhatia I have attached a simple redesign of the drawer below, please let me know if you want any changes or I will open a PR. Also should I rename settings to preferences which is what appears in the app bar of settings screen.

![Screenshot_1613036767](https://user-images.githubusercontent.com/74055102/107621367-25bfbf80-6c7c-11eb-9807-7ea3fadee0c0.png)

[2021-02-11 10:26] Saransh-cpp commented on #98
The icon in my device is white and I crosschecked with the main branch of the original repository, there is no color applied to the icon so I guess it should be picking up default color according to the theme constants.

![Screenshot_1613037412](https://user-images.githubusercontent.com/74055102/107623020-b7303100-6c7e-11eb-9af9-2686158bb3a5.png)

[2021-02-11 12:04] infiniteoverflow commented on #85
Yes !! Thanks, I will get on with it.

[2021-02-12 08:13] anushbhatia commented on #94
No that won't be an issue will look through this and let you know the changes if any

[2021-02-12 08:14] #77 closed

[2021-02-13 06:37] anushbhatia commented on #84
This looks great to me do give a pr soon for this

[2021-02-13 06:38] anushbhatia commented on #98
Yep i had not pulled the latest changes sorry for that

[2021-02-13 06:38] #98 closed

[2021-02-13 06:42] anushbhatia opened #103 "Improving Routing🤓"
Currently, as soon as you make the pdf and then click the back button t doesn't redirect you to the home page.
this can be solved in either of the two approaches.
1. As soon as the pdf is made instead of showing the pdf there redirect to the home page.
2. **Preferred Method**: As soon as the back button is pressed on the pdf it should open the Home Page.

[2021-02-13 06:42] #42 closed

[2021-02-13 06:43] anushbhatia opened #104 "Suggestion And Features in App ✨"
Any Features you want to suggest in-app feel free to do so

[2021-02-13 08:00] #94 closed

[2021-02-13 13:20] Saransh-cpp commented on #103
I would like to take up this issue. I was exploring this issue and I found that after pressing the back button, the blank PDFViewerScaffold is shown, so my main idea for this issue is to create a timer of 0 seconds which pushes the home page automatically. Whenever the user presses the back button, the time is activated and it immediately performs pushReplacement() which leads the user to home.

[2021-02-13 14:27] anushbhatia opened #107 "Working app demo video⚒️"
Add a working app demo in the readme
Attach the video Related to it.

[2021-02-13 14:47] Rukmini-Meda commented on #83
These issues can also be for cross winter of code right? Can I take them up as part of cwoc?

[2021-02-13 15:33] Saransh-cpp commented on #107
Do you also want mockups like the one attached below or only a working video? Please let me know, thanks!

![threed_mockup](https://user-images.githubusercontent.com/74055102/107853888-69fabd80-6e3e-11eb-89ff-18aa544b8cd5.png)

[2021-02-13 17:45] anushbhatia commented on #83
yes

[2021-02-13 18:05] #103 closed

[2021-02-13 22:12] smaranjitghose commented on #107
Yes mockups are a necessity.

Along with that a short clip (perhaps converted into GIF) would be nice

[2021-02-13 22:15] smaranjitghose commented on #83
All the issues are open for everyone irrespective of the program

[2021-02-14 05:34] Saransh-cpp commented on #107
Okay thanks! I will start working on this.

[2021-02-14 05:47] Saransh-cpp commented on #104
One of the main issue right now is the infinite stacking of screens, I created an issue on this too but soon realized that a simple pushReplacement won't work here. My suggestion would be to find something that overcomes this. Currently I am avoiding implementing a new or a big feature because of my internal examinations (I hope that is understandable) but here is a [good resource](https://github.

[2021-02-14 08:59] m-code12 opened #108 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-02-14 09:00] m-code12 commented on #108
@anushbhatia @smaranjitghose Can I go ahead with this? I am a DWOC and MWOC participant.

[2021-02-14 10:35] #84 closed

[2021-02-14 10:38] anushbhatia commented on #104
Sureee this is indeed needed in the application. Open up a issue for this 🤗.

[2021-02-14 15:08] Saransh-cpp opened #109 "Improvements: Some minor improvements in the code"
These are some small issues which can be fixed together, creating separate issues would not have been good so I will club them up here and make a single PR. Please let me know if you want any specific changes. Thanks!

### 1. Inconsistent background color. The PDFs name is also not visible because of the background color.

![Screenshot_1613313542](https://user-images.githubusercontent.com/74055102

[2021-02-14 15:19] #73 closed

[2021-02-14 15:30] Saransh-cpp opened #110 "Improve routing"
The issue here is the infinite stacking of screens, the previous issue has been closed to make the issue more generalized. The app deals with a lot of screens and that creates a problem of proper route management and disposing off the screens not in use anymore. [Here](https://github.com/orestesgaolin/navigator_20_example) is a good resource I found on this. If no one works on it, I will implement

[2021-02-14 18:58] smaranjitghose commented on #108
As far as the idea is concerned it is really nice given that the project had a lot maintainers.

However, in reality, I and @anushbhatia are the only ones there and we already get notifications for each pr raised to an issue comment(for the repos we are watching).  And believe me, that's a lot of notifications! Having this would just increment the notifications

[2021-02-14 18:58] #108 closed

[2021-02-15 07:34] Saransh-cpp commented on #99
@anushbhatia I was trying to work on this issue and this is what I got so far, should I open a PR for this? The share button works! but the delete button for now shows a dialogue box where pressing the delete button doesn't work.

![Screenshot_1613373817](https://user-images.githubusercontent.com/74055102/107916920-1ba80480-6f8d-11eb-921f-de8507980ef3.png)

@infiniteoverflow can you please help me

[2021-02-15 12:06] infiniteoverflow commented on #99
@Saransh-cpp You can use something like `pdfsBox.deleteAt(index)` , since we have used a listview builder , you can easily get the index of the item you are deleting. So with that u can delete that particular item.

For reference. : https://github.com/infiniteoverflow/Todo-App/blob/main/lib/main.dart
Check out the code that i have written to delete a tile.

[2021-02-15 15:14] Saransh-cpp commented on #99
Thanks! I will try this and let you know if I face any issues!

[2021-02-15 15:25] infiniteoverflow commented on #99
@Saransh-cpp Sure. Reach out to me via Discord, will clear any doubts if u have.

[2021-02-16 05:10] #109 closed

[2021-02-16 10:14] Saransh-cpp commented on #107
A question, do you want me to add the images and GIF in the repository or use the GitHub content link for making the app lighter?

[2021-02-16 14:25] Saransh-cpp commented on #33
If no one is working on this issue, can I take this up?

[2021-02-16 16:52] Saransh-cpp commented on #82
I would like to work on this issue

[2021-02-16 17:19] smaranjitghose commented on #107
Since you have already made the mockup, could you put the screens in a single image (as a grid). [Reference](https://github.com/smaranjitghose/girlscript_app).

[2021-02-16 17:20] smaranjitghose commented on #107
Keep the individual screen images too

[2021-02-16 18:30] Saransh-cpp commented on #107
Will something like this work? I can do 4 screens at a time and then I can arrange two such images side by side in the README, please let me know.

![Google Pixel 4 XL Presentation](https://user-images.githubusercontent.com/74055102/108105180-4d66bb80-70b2-11eb-95c9-06fb00fc6f99.png)

[2021-02-16 20:04] smaranjitghose commented on #107
Perfect!

[2021-02-17 19:30] #110 closed

[2021-02-19 10:34] Saransh-cpp opened #117 "Bug: Deleting option in multi_select_delete page isn't working properly"
## Steps to reproduce

1. Add a few images to multi_select_delete page
2. Delete one of the images
3. Go ahead to create a PDF with the left over images

### The image is deleted and
1. A new same page is pushReplaced over which is not required.
2. The new page somehow becomes the root page and all the below lying screens are gone, if you press the back button the app closes.
3. After encountering

[2021-02-19 10:47] Saransh-cpp opened #118 "Bug: Images in multi_select_delete page are not being discarded after pressing the home button"
## Steps to reproduce

1. Add a few images to multi_select_delete page
2. Click the home icon in App Bar
3. Again select an image and move to multi_select_delete page

### Result
1. The old images will still be there which should not be the case. If a user doesn't want to continue with the PDF creation process and clicks that button to go back to home the images should be cleared after giving a wa

[2021-02-20 14:16] Saransh-cpp opened #122 "Bug: If a user doesn't click an image after opening camera in multi_select_delete page the screen gives an error"
## Steps to reproduce

1. Select an image
2. Move ahead to multi_select_delete page
3. Click on the floating action button and select camera
4. Don't click any picture
5. Click the back button or click the cross button on the camera screen

## Result

As no image was clicked, the screen shows an error file != null is not true

## Screenshot

![image](https://user-images.githubusercontent.com/74055

[2021-02-21 08:42] #82 closed

[2021-02-21 08:44] #117 closed

[2021-02-21 22:36] #33 closed

[2021-02-21 22:48] #122 closed

[2021-02-21 22:52] anushbhatia opened #124 "Onboarding screen Issue"
When a new user loads a new app this is the issue faced

https://user-images.githubusercontent.com/40017559/108641461-5fd36180-74c5-11eb-97e3-e35d8422b3b3.mp4

The onboarding screen is displayed everywhere in the app at every step. Either use a different plugin or resolve this issue

[2021-02-21 22:53] #85 closed

[2021-02-22 09:21] samir-0711 opened #125 "Improvement in README.md"
In README.md file, there are 10 images under App Mock-ups. section I will replace these 10 images with 4 equivalent images which will make README.md file look more cleaner.
![image](https://user-images.githubusercontent.com/68433936/108687986-6261a580-751d-11eb-82a7-17a3e6fe0b64.png)

[2021-02-22 09:22] samir-0711 commented on #125
I would like to work on this

[2021-02-22 10:55] Saransh-cpp opened #126 "Bug: Images are not getting discarded in multi_select_delete after creating the PDF"
Similar to #118 but this is encountered after the PDF is created by pressing the PDF button.

## Steps to reproduce
1. Select an image from gallery/camera
2. Move to multi_select_delete page
3. Create PDF
4. After being redirected to home, select another image for a new PDF

## Result
Old images that were used to successfully create a PDF will still be there.
<br/>
I have still not figured out how

[2021-02-22 12:38] Saransh-cpp commented on #124
I would like to work on this issue!

[2021-02-22 19:39] Saransh-cpp opened #129 "Bug: Duplicate images in multi_select_delete page"
## Steps to reproduce
1. Select an image from gallery/camera
2. Proceed to multi_select_delete page
3. Click the back button in AppBar
4. Click the next button in Filterview page

## Result
Now there will be 2 identical images in the multi_select_delete page and the number of identical images keeps on increasing if you keep repeating the above steps, which should not be the case, the first image s

[2021-02-23 13:34] Saransh-cpp opened #131 "Feature: Implement Starred documents screen"
This can be implemented using HiveDB and will also address #99 by adding a star option on every PDF.

I would like to work on this issue.

[2021-02-23 16:59] #107 closed

[2021-02-23 17:12] #125 closed

[2021-02-23 17:38] #124 closed

[2021-02-23 17:44] #129 closed

[2021-02-24 04:05] Rukmini-Meda commented on #83
Hello, I have been busy with my exams lately. I couldn't work on the task. I will unassign myself so that others can take this up.

[2021-02-24 11:12] Saransh-cpp commented on #83
I would like to work on this issue!

[2021-02-25 12:27] Sahil-kachhap opened #136 "Refactoring the ListTile Widgets in MainDrawer.dart file into a Custom Widget"
There are a Bunch of ListTile Widgets being used in mainDrawer.dart file for navigating across various screens . That patch of Code can be made more clean and maintainable by Creating a custom Widget instead of Hard coding each ListTile Widget .

If this seems to be a good issue to work upon . I would like to be assigned for this work .

[2021-02-27 17:08] #126 closed

[2021-02-27 17:09] #131 closed

[2021-02-27 17:12] anushbhatia opened #138 "Settings Page features"
Reporting a bug functionality should work in the app.
Then we will move ahead with other ones.

[2021-02-27 18:13] #83 closed

[2021-02-28 05:22] Saransh-cpp opened #139 "The delete PDF option improvements"
1. The delete button does not provide a warning of any sort to the user before deleting the PDF.
2. PDFs from the ```starred``` box are not deleted, they should be deleted when the original PDF is deleted.

I would like to work on this issue.

[2021-02-28 11:24] Saransh-cpp opened #142 "Bug: The delete function present right now is not working ideally"
## Steps to reproduce
1. Create a PDF
2. Delete it from the home page
3. Hot restart the app

## Result
1. The PDF will be removed from the home screen once you delete it but will re-appear once you restart the app
2. Clicking the PDF will do nothing
3. Deleting the PDF again will again remove it from home giving an error on the console, now this will keep on repeating every time you restart the a

[2021-02-28 12:16] #139 closed

[2021-02-28 17:14] Saransh-cpp opened #145 "Bug: The rename dialogue box is not behaving as it should be"
1. The dialogue right now covers the whole screen and is not consistent with the theme. I would like to work on this and make it more consistent with the app design.
2. There is also a bug where whenever the user closes the keyboard after typing the name, the name disappears.
3. After renaming the PDF, if you restart the app, the PDF changes its name back to the old one and renaming it again or de

[2021-02-28 17:56] #142 closed

[2021-02-28 17:58] #145 closed

[2021-03-01 04:52] Saransh-cpp commented on #138
[Here](https://pub.dev/packages/instabug_flutter) is a great plugin for this feature. I am having some problems with implementing it but if anyone can do it or has some experience with it, go ahead. [(Instabug's website)](https://instabug.com/)

[2021-03-01 06:41] anushbhatia commented on #138
Sure you can go ahead with this

[2021-03-05 13:33] kmryashasvi opened #147 "add banner of crosswoc to the readme file."
I will add banner of crosswoc to the readme file.
Moreover, I will associate link of the crosswoc website to its banner such that, if someone clicks the banner on readme file, it will redirect them to the website of crosswoc.

[2021-03-05 18:00] #147 closed

[2021-03-07 15:02] Saransh-cpp opened #148 "Flutter 2 update: Build fail due to flutter_svg plugin"
With the flutter 2 update, many beta changes were pushed to the stable channel of flutter and due to this many things are changing and one of the things that became available is the latest version of flutter_svg plugin (an older version of the same plugin is being used in the app due to the reasons discussed in #102).

### Console error (Build fail)
[code]

Right now people who have upgraded to fl

[2021-03-07 15:20] Saransh-cpp opened #149 "Bug: Renaming a PDF removes it from starred documents"
## Steps to reproduce
1. Create a PDF
2. Star it
3. Rename it

## Result
1. The PDF will be un-starred as soon as you rename it
2. A PDF with the old name would still be there in the starred docs screen and it won't open

I would like to work on this bug

[2021-03-08 17:37] #149 closed

[2021-03-09 07:52] nicks101 opened #152 "Add lint rules"
There are several options to add `lint rules`.
We can use a community package [lint](https://pub.dev/packages/lint).  It is customizable and so we can edit any rule as we like.

[2021-03-09 07:53] nicks101 commented on #152
I'd like to work on this issue under GSSOC'21 if it's okay.

[2021-03-09 08:29] Alifbhanvadiya14 commented on #136
Hello, I want to work on this issue as apart of GSSOC'21

[2021-03-09 08:35] Sahil-kachhap commented on #136
I have been assigned this issue and currently I am working on it. Can you go through other unassigned issues

[2021-03-09 12:02] deeppatel23 commented on #152
As a GSSOC'21 Participant, I would like to work on this issue.

[2021-03-09 14:17] mohitsoni-dev opened #154 "Left Padding in Settings page"
There is no left padding in the text inside of gray text. Rest (right, top, bottom) padding is applied.
![3](https://user-images.githubusercontent.com/59525097/110483433-b8cf0680-810f-11eb-9dd6-2e72347a191d.jpg)

Also there is a lot of repeated code in settings.dart file which can be refactored.
I would love to work on this issue and I am a gssoc participant. Please assign me this task. Thanks.

[2021-03-09 15:22] smaranjitghose commented on #152
Could you search for an option to integrate this as GitHub Action workflow please?

[2021-03-09 15:23] smaranjitghose commented on #152
Other than issues raised by project maintainers, all other issues would be assigned by default to the participant who raises it (after evaluation)

[2021-03-09 15:39] nicks101 commented on #152
On it.

[2021-03-09 15:44] anushbhatia opened #156 "Mentor's Github ID's"
Drop your GitHub ID's here will provide relevant access to you.

[2021-03-09 16:40] arteevraina commented on #156
@arteevraina

[2021-03-09 16:54] nicks101 commented on #152
For lint, we can have Github Action that'll run static dart linter test
1.  without providing any custom lint rules.
2.  with custom lint rules `(analysis_options.yaml file)`

Below is the basic workflow to test lint.

[code]

References
[ci yaml code](https://medium.com/@jacksonz666/guard-your-open-sourced-flutter-app-with-github-actions-824cc4d9844)

I found this Github Action as well specifical

[2021-03-09 17:07] nicks101 commented on #152
If this issue is valid, can you please add the tag `GSSOC` on this issue?  I'm a participant in GSSOC'21. :smile:

[2021-03-09 17:36] anushbhatia commented on #152
Sure you can go ahead creating this

[2021-03-09 17:45] nicks101 commented on #152
Should I add

[2021-03-10 07:53] nicks101 commented on #152
I'm getting below error when I run `flutter pub get```.

[code]

I believe this is due to flutter version conflict.
Below is my flutter version :

[code]

Can you tell me which channel and version you're using, so I can run the app?

[2021-03-10 07:58] Saransh-cpp commented on #152
@nicks101 you should update your flutter version to the new "Flutter 2", the reasons are discussed in #148

[code]

[2021-03-10 10:39] Sahil-kachhap commented on #136
@anushbhatia I need some help while refactoring two  ListTile in Navigation Drawer Widget

## Here are the classes extracted from ListTile Drawer Widget

[code]

## Drawer Navigation ListTiles before Refactoring

[code]

## Drawer Navigation ListTiles after Refactoring

[code]

##  Now, I am left with 2 Navigation items to be refactored.

1. Home Navigation Item - How To Refactor this widget since

[2021-03-10 10:57] arteevraina opened #157 "Add workflow using Github Actions"
Running CI tests before merging the PR will help to improve the code quality and will help to keep the code consistent across the files.

WDYT @anushbhatia?

[2021-03-10 13:10] anushbhatia commented on #157
we don't have CI/CD etup as of now but sure we can have it if you wish to create an issue for it.

[2021-03-10 13:59] arteevraina commented on #157
Sure thing ! We can add label to this issue only.

[2021-03-10 15:08] aayushbisen opened #159 "Refactoring deprecated widgets in Flutter 2.0"
### Context

Some existing widgets like `FlatButton`, `RaisedButton` got deprecated in the latest iteration of Flutter. We can refactor the project to use the latest APIs provided by Flutter team in 2.0 version.

### Proposed Solution

Refactor deprecated widgets and methods and handle different warnings in the project.

[2021-03-10 20:15] nicks101 commented on #152
Hey @Saransh-cpp, I've opened a PR for this issue. After adding lint rules, there are a lot of warnings and info.
Since GitHub Action that I added checks these lint rules, the PR test will fail.

Should I resolve all the lint errors in the same PR or create a new issue for this? And how should I proceed with PR #158 ?

[2021-03-10 20:59] Saransh-cpp commented on #152
@nicks101 this most probably is due to the new flutter update, I was thinking of migrating the app to null safety but I am pre-occupied with my internal examinations :"). You can maybe open an issue for this and discuss with @anushbhatia about the migration. There are official video guides available on YouTube for the same.

[2021-03-10 21:05] nicks101 commented on #152
@Saransh-cpp I'll create a new issue for this.
All the best for your exams!

[2021-03-11 05:31] anushbhatia commented on #159
Sure you can go ahead with it do mention the components modified in the code when you create a PR.

[2021-03-11 05:33] #152 closed

[2021-03-11 05:35] anushbhatia commented on #152
Due to null safety parameters, these are errors are detected

[2021-03-11 07:26] shreyadubey0902 commented on #156
Hello, I'm Shreya Dubey participant at GSSOC'21.
I would like to solve this problem.
Please assign me this issue.

[2021-03-11 08:06] SapinderSingh opened #160 "File names are not according to Dart preferences."
The source code file names are not according to Dart Preferences. And There is a lot of redundant code and imports. Can I fix them ?'
I am a participant of GSSOC 21

[2021-03-11 08:51] arteevraina commented on #156
Hey @shreyadubey0902! Welcome to the repo. But, I guess there is nothing to solve in this issue. It just made for the mentors to share their GitHub usernames so that they can be granted the necessary permissions for the repo.

[2021-03-11 10:50] ritmojs commented on #154
I would like to work on this issue..

[2021-03-11 13:23] nicks101 opened #161 "Refactor project according to lint rules"
This is related to issue #152 and PR #158 .

After adding lint rules, there are many problems (infos, warning) in the project.
Most of them include :
- [prefer_const_constructors](https://dart-lang.github.io/linter/lints/prefer_const_constructors.html)
- [invalid_assignment](https://dart.dev/tools/diagnostic-messages#invalid_assignment)
- [argument_type_not_assignable](https://dart.dev/tools/diagn

[2021-03-11 15:45] arteevraina opened #163 "Pixel Overflow in Bottom Toolbar"
### How to reproduce this?
 Just click the camera icon in the floating action buttons. After that when the picture opens up in the app you will see a bottom navigation toolbar.  See the pixels just overflowed in the toolbar.

### Screenshots
![Screenshot_2021-03-11-21-09-54-61](https://user-images.githubusercontent.com/43968121/110813742-cff82a80-82ae-11eb-9693-1ebea1055c01.jpg)

### Possible Fix:

[2021-03-11 15:59] arteevraina commented on #161
Hi @nicks101! We definitely need to fix these warnings. Please go ahead with your PR.

[2021-03-11 16:00] arteevraina commented on #160
Sure thing! It will help to make the code more readable and better. Your PR is welcomed :)

[2021-03-11 16:01] arteevraina commented on #160
But make sure to coordinate with @nicks101 as she is also working on Lint-related issues in order to avoid conflicts.

[2021-03-11 16:02] arteevraina commented on #157
closed by: #158

[2021-03-11 16:03] arteevraina commented on #154
Hey @ritmojs! This has already been taken care in #155. You can have look on other open issues to work on :)

[2021-03-11 16:29] smaranjitghose commented on #156
I would love to see how you can solve this issue 😂.

[2021-03-11 16:50] smaranjitghose commented on #156
@arteevraina Invite sent

[2021-03-11 16:57] #157 closed

[2021-03-11 16:58] 0xapurv commented on #163
I would like to work on this as a part of GSSoC'21, could you please assign it to me and guide me with the process?

[2021-03-11 18:33] nicks101 commented on #160
hey @SapinderSingh, I'll leave the file name issue for now and resolve others.
@arteevraina is it okay if I open a PR with resolving all lint rules except file names?

[2021-03-11 18:55] Saransh-cpp opened #164 "Bug: Move to other directory feature is not working"
The feature present in every PDF's card which performs the function of moving the PDF file to another location is not working, it does open up the screen to choose a directory and after choosing the directory, the console throws up an error that the file cannot be copied (Permission denied). I have looked up the Manifest file and all the permissions are provided, so right now I have no idea as to

[2021-03-12 00:33] arteevraina commented on #160
Yes, feel free to open a PR.

[2021-03-12 01:41] SapinderSingh commented on #160
@nicks101 Okay, Thanks.

[2021-03-12 02:32] arteevraina commented on #163
Hey @believeInJha! Welcome to the repo. I have assigned you the issue. You can start working on this now. If you feel stuck just comment here. I will try to reply as soon as possible.

[2021-03-12 05:31] nathsagar24 commented on #100
I would like to work on this issue. Can you please add CrossWoc & GSSOC21 labels and assign it to me?

[2021-03-12 06:24] aayushbisen commented on #164
Did you mean this button?

![image](https://user-images.githubusercontent.com/41341387/110900989-9f090b80-8329-11eb-9357-1e63fd0a23e0.png)

[2021-03-12 06:28] Saransh-cpp commented on #164
Yes, clicking on that will lead you to the folder picker page. After landing there, click on the tick mark on the right side of any folder and you will see the console error.

[2021-03-12 06:35] aayushbisen commented on #164
After clicking on that button the app gets navigated to a blank page for me. I didn't saw any folder pick page.

![0JqvKRtu3x](https://user-images.githubusercontent.com/41341387/110901892-03789a80-832b-11eb-8754-16951930a24a.gif)

[2021-03-12 06:49] Saransh-cpp commented on #164
Ideally you should get a list of directories present in your device but this could be another potential bug, can you please check that if you actually have some directories in the emulator because this part is working fine on my side.

[2021-03-12 07:04] aayushbisen commented on #164
Yes I have made a folder in emulator, still I am getting blank screen.

![Screenshot_1615532334](https://user-images.githubusercontent.com/41341387/110904418-f2318d00-832e-11eb-853f-cd5ce36c212e.png)

[2021-03-12 07:09] aayushbisen commented on #164
Working on physical device.

[2021-03-12 07:56] Saransh-cpp commented on #164
Then you can reproduce the bug on the physical device for now, I don't know why it is not working on the emulator for you.

[2021-03-12 09:02] 0xapurv commented on #163
Thanks for the opportunity @arteevraina , I will make it as soon as possible and send a PR.

[2021-03-12 12:43] SapinderSingh commented on #160
Please add GSSOC 21 label to this issue.

[2021-03-12 13:00] nicks101 commented on #161
hey @arteevraina, can you please add GSSOC21 label to this issue?

[2021-03-12 15:56] #159 closed

[2021-03-12 19:33] anushbhatia commented on #136
What is the error faced just put the screenshot for that

[2021-03-13 04:31] nicks101 commented on #138
If this is under GSSOC21 and no one is assigned to it, can I work on this issue?

[2021-03-13 06:37] anushbhatia commented on #164
yep it isn't working on the emulator for me too

[2021-03-13 10:36] Saransh-cpp opened #170 "Reformat the rating dialogue"
1. With the new update, the dialogue box takes the background color according to theme constants so now it becomes necessary to make the logo change dynamically.
2. Making the title text smaller so it can fit in one line as there are no formatting options available in this flutter plugin.

## Screenshots
<p float="left">
<img src="https://user-images.githubusercontent.com/74055102/111026138-c259b6

[2021-03-13 12:13] arteevraina commented on #138
Cool ! Let me assign it to you.

[2021-03-13 12:14] arteevraina commented on #138
@anushbhatia Isn't this issue a part of GSSOC? If yes, I will add the label.

[2021-03-13 12:32] arteevraina opened #171 "Improve Unit/Widget testing"
Idea is to contribute small widget/unit tests for the app. So, that we can achieve the aim of TDD for the project. Try to contribute a single test in a PR.

[2021-03-13 13:11] shriya030 opened #172 "Enhance README.md"
I am a GSSOC'21 participant and would like to add a feature in README.md where the contributors get automatically updated.
Can you please assign this issue to me?

[2021-03-13 18:04] subhangi2731 commented on #99
can I work on this?

[2021-03-14 02:46] arteevraina opened #175 "Facing error on startup"
**Screenshot**

![Screenshot_2021-03-14-08-16-10-37_7294a262473530cafd6e94bd645d3149.jpg](https://user-images.githubusercontent.com/43968121/111055604-8ae61b00-849d-11eb-87c5-8f0d46f7f7dc.jpg)

[2021-03-14 03:43] smaranjitghose commented on #138
All issues raised by us (and in the future raised by @arteevraina )are part of GSSOC . We didn't get time to add labels to the ones raised earlier😅

[2021-03-14 03:45] smaranjitghose commented on #172
Already present

[2021-03-14 03:45] #172 closed

[2021-03-14 03:59] arteevraina commented on #138
Cool! 👀

[2021-03-14 05:05] SapinderSingh opened #176 "Facing error on startup"
Screenshot:

![WhatsApp Image 2021-03-14 at 10 34 45](https://user-images.githubusercontent.com/29424616/111057929-03a2a280-84b1-11eb-9313-0c2e595f1b4d.jpeg)

[2021-03-14 05:06] SapinderSingh commented on #176
I would like to work on this issue as a participant of GSSOC 21.

[2021-03-14 05:09] SapinderSingh commented on #175
@arteevraina I ran this app on my device. The issue on my device is different. #176

[2021-03-14 05:11] arteevraina commented on #175
@SapinderSingh Can you share ss?

[2021-03-14 05:12] SapinderSingh commented on #175
@arteevraina I have shared ss in #176

[2021-03-14 06:14] SapinderSingh opened #177 "PopUp Menu in the top right of the app is not there."
I want to create the PopUp Menu of the app as a participant of GSSOC 21.

[2021-03-14 07:03] nicks101 commented on #138
Should I go with this? There are other options with null safety plugins also:
(Since we're using the latest flutter version, we can only add those packages that have null safety on, right?)

- [Wiredash](https://pub.dev/packages/wiredash)
- [Feedback](https://pub.dev/packages/feedback)

Couldn't find more.

[2021-03-14 15:09] viralvaghela opened #178 "Bottomoverflow error"
### After taking a picture it is showing the bottom overflow error
![Screenshot_2021-03-14-20-20-35-69](https://user-images.githubusercontent.com/34627404/111073588-55751800-8505-11eb-8b38-adad8d3ded7d.jpg)

[2021-03-14 16:18] Saransh-cpp commented on #176
@SapinderSingh thanks for pointing this out! I worked on this today because this issue was something that was breaking down the whole app and there wasn't any concrete info in the console as to what was causing this issue (and this issue only appears if you freshly install the app, after uninstalling it from your device). I have fixed this but I won't make a PR for the code, try exploring the repo

[2021-03-14 16:23] SapinderSingh commented on #176
@Saransh-cpp Thanks :)

[2021-03-14 17:50] #163 closed

[2021-03-14 18:12] anushbhatia commented on #177
where do you want to do that please attach the image with labellings on it to get a better picture here?

[2021-03-14 18:19] anushbhatia commented on #138
wire dash is pretty great and I recommend it too but I would like to have more opinion on it @Saransh-cpp @himanshusharma89 for it. How about this?

[2021-03-14 18:20] anushbhatia commented on #99
would you add a small preview of the image on it?

[2021-03-14 18:21] anushbhatia commented on #178
add the safe area to this preventing this error

[2021-03-14 18:22] anushbhatia commented on #176
Sure you can go through this and see if you could find the error in this place.
This issue is there in taking the system ui prefrences and that's y its giving that error.

[2021-03-14 18:28] #170 closed

[2021-03-14 18:40] anushbhatia opened #180 "Minor bug in rating card dark mode"
![Screenshot_20210315_000706_com example doclense](https://user-images.githubusercontent.com/40017559/111080079-c24adb00-8522-11eb-9eb6-71379e721164.jpg)
Colour of. Submit button to be white.

[2021-03-14 18:51] Saransh-cpp commented on #138
Yes, wire dash actually looks pretty good, integrating instabug with the project is weirdly hard and their GitHub repository isn't active much right now.

[2021-03-14 19:44] nicks101 commented on #138
Shall I work on wiredash then?
Also we'll need an account on [wiredash](https://wiredash.io/) (it has a free tier).
From there create a project. Mainly I'll need the project id and secret key from wiredash settings of the project.
It all [here](https://pub.dev/packages/wiredash).

[2021-03-15 02:14] SapinderSingh opened #181 "Syntax Errors in ImageView.dart file"
There are syntax errors in ImageView.dart file. I want to work on this issue as a GSSOC 21 participant.

[2021-03-15 02:16] SapinderSingh commented on #177
![WhatsApp Image 2021-03-15 at 07 45 50](https://user-images.githubusercontent.com/29424616/111095009-85063d80-8562-11eb-9fe2-5e40808e1769.jpeg)

See the top right corner. I want to add a PopUp menu there.

[2021-03-15 02:33] SapinderSingh commented on #181
Please add GSSOC 21 label

[2021-03-15 02:40] SapinderSingh commented on #176
Please assign this issue to me as I have found the bug and please label it with GSSOC 21

[2021-03-15 07:37] anushbhatia commented on #177
what popup menu will be added there?

[2021-03-15 07:47] SapinderSingh commented on #177
@anushbhatia

### A menu like this -
![pgwQh](https://user-images.githubusercontent.com/29424616/111119957-c877a080-8590-11eb-862d-0637a0771de2.png)

[2021-03-15 10:36] himanshusharma89 commented on #138
Go for it, I'll implement it in the relic bazaar too.

[2021-03-15 10:58] ghost commented on #180
@anushbhatia can you assign this to me?

[2021-03-15 14:10] arteevraina commented on #181
What kind of syntax errors you were facing ?

[2021-03-15 14:16] arteevraina commented on #181
Okay, Got it so there were brackets missing.

[2021-03-15 14:18] arteevraina commented on #176
This is the real spirit of Open Source :heart:

[2021-03-15 16:39] SapinderSingh commented on #181
Yes Sir !!!

[2021-03-15 22:49] #176 closed

[2021-03-15 22:50] anushbhatia commented on #177
This is not a priority as we don't have an option for login.

[2021-03-15 22:50] #177 closed

[2021-03-16 00:06] smaranjitghose commented on #181
Please refrain from adding these comments related to labels in the issues. We have a github action for it or else the mentors would automatically add them.  I get notifications for all of these. Instead insure that your PRs are given the gssoc21 and the respective level tag.

In the PR description always write:

`Closes # issue_number` for it to work.

That being said, @SapinderSingh nice work fin

[2021-03-16 00:06] #181 closed

[2021-03-16 03:58] smaranjitghose opened #185 "Update Contributing.MD"
[Reference](https://github.com/smaranjitghose/doc2pen/blob/master/CONTRIBUTING.md)

[2021-03-16 05:21] #178 closed

[2021-03-16 06:03] anushbhatia opened #186 "Create an app icon"
Currently there are no app icon. We need to a new app icon svg files are there. If anything is needed do contact me.

[2021-03-16 07:19] iamsamuelhere commented on #136
hello peers
If this issue is not yet solved can i work on it?

[2021-03-16 07:23] Sahil-kachhap commented on #136
Hello @iamsamuelhere , it's almost complete and I am about to create a PR on it .

[2021-03-16 09:13] ShrutiJ-01 commented on #186
If it is about adding a app Icon and not design related , I would like to work on it!

[2021-03-16 09:39] anushbhatia commented on #186
Designing is not required

[2021-03-16 10:30] Saransh-cpp commented on #175
@arteevraina, now that #176 is resolved, can you please uninstall the app once, pull the latest code and re-install it to check if this error still exists? because I am not able to reproduce this on my side.

[2021-03-16 11:41] arteevraina commented on #175
ok @Saransh-cpp ! I will check it.

[2021-03-16 14:18] Alenjojo opened #189 "Image isn't properly ratioed in GridItems"
![WhatsApp Image 2021-03-16 at 7 38 52 PM](https://user-images.githubusercontent.com/51394913/111323385-d52eee00-868f-11eb-8eab-6f8ddcaeceee.jpeg)
If you can see from the above image , after taking all the photos to convert to pdf the page where it displays does not have proper ratioed image view function.

[2021-03-16 14:32] Alenjojo commented on #189
If you consider this to be resoled can you assign this issue to me. If yes can you add the gssoc21 label too

[2021-03-16 17:49] Alenjojo commented on #189
Shouldn't you guys be adding the lable too of gssoc21

[2021-03-16 18:16] #156 closed

[2021-03-16 18:24] smaranjitghose commented on #189
Ya. I was expecting the github action to take care of it

[2021-03-16 18:45] Alenjojo commented on #189
haha its alright. May i ask when im merging should i do anything in the issue part. Do i just have to merge it into a new branch.

[2021-03-16 18:57] anushbhatia commented on #189
merge it in master only.

[2021-03-16 19:20] #138 closed

[2021-03-16 19:27] anushbhatia opened #190 "Settings Page: Contact Developers"
Add an action to show the LinkedIn and GitHub profiles along with photos of
Smaranjit and Anush in the section
https://github.com/smaranjitghose/girlscript_app refer to the team page present here.
![Screenshot_20210317_005612](https://user-images.githubusercontent.com/40017559/111368386-d4ac4c80-86bb-11eb-90c1-8e8059011497.jpg)

On click you can open a new page and add those features there.

[2021-03-16 19:38] anushbhatia opened #191 "Settings Page: Add Contributors"
After issue #190 is completed using GitHub contributors API add all the contributors below the admins.
with their GitHub ids.

if they want their LinkedIn to be added then wish to drop them to here.

[2021-03-16 19:40] nicks101 commented on #190
can I work on it?

[2021-03-16 19:44] anushbhatia commented on #190
sure

[2021-03-16 19:49] nicks101 commented on #190
Can I get photos of developers that we have to display?

[2021-03-16 19:51] anushbhatia opened #192 "Settings Page: Remove Unecessary Details"
remove the below elements as they are of no use.
![Screenshot_20210317_012238](https://user-images.githubusercontent.com/40017559/111371366-4fc33200-86bf-11eb-8ae8-2acd0efb5497.jpg)

[2021-03-16 19:54] anushbhatia opened #193 "Adding a preview on home page"
Currently, there's no preview of pdf on the home page.
Add a small preview of the image there. Instead of the image icon present there.
![Screenshot_20210317_012454](https://user-images.githubusercontent.com/40017559/111371620-af214200-86bf-11eb-9abf-22a01f39f099.jpg)

[2021-03-16 19:57] anushbhatia opened #194 "Improve Cards in Home page"
In light mode, the colours used here are grey replacing them with white and adding a box-shadow on it so that it looks like a card.
also making icons grey in light mode rather than black so that it doesn't here.
![Screenshot_20210317_012831](https://user-images.githubusercontent.com/40017559/111372123-3c649680-86c0-11eb-9742-e69c10bf3d36.jpg)

[2021-03-16 20:01] anushbhatia commented on #193
Expected
![Screenshot_20210317_013144_com adobe scan android](https://user-images.githubusercontent.com/40017559/111372365-8ea5b780-86c0-11eb-92a0-f355ef24cbed.jpg)

[2021-03-16 20:04] Saransh-cpp commented on #193
I was working on this issue, I will make a PR!

[2021-03-16 20:25] Saransh-cpp commented on #191
My [LinkedIn profile](https://www.linkedin.com/in/saransh-chopra-3a6ab11bb) :)

[2021-03-17 04:11] abstrxtInfinity commented on #186
Since it is about just adding an icon, I would like to work on this.
GSSOC'21 participant.  If you would like please assign me this @anushbhatia.

[2021-03-17 04:35] Neha62-lit commented on #194
@anushbhatia I would like to work on this issue as a part of GSSOC'21!!

[2021-03-17 04:40] abstrxtInfinity opened #197 "The Text Fields are not visible, when enabled"
The text fields for naming, renaming are not visible and not styled.
Also the search field looks out of place.
If you would like to discuss or let me work on this issue, please assign it to me. GSSOC'21 participant.
@anushbhatia @smaranjitghose
(Find the screen shots for the same added below).

![44ef7e86-4852-44c7-830c-321b5b903393](https://user-images.githubusercontent.com/55052738/111415892-d94

[2021-03-17 05:15] Samdid commented on #192
@anushbhatia I would like to work on this issue, I am a GSSoC21' participant

[2021-03-17 08:35] Saransh-cpp opened #199 "Enhancement: Update the starred PDF card"
The starred document card right now only contains the name of the PDF, now that the date feature is added in the app and the preview photo will be added through #195, it should be updated to look like the card in home page but only with the un-starring and share feature.

I have already added code to pass the date data in `starred` box in one of my PRs, now only the preview photo needs to be passe

[2021-03-17 10:29] Alenjojo opened #200 "Major bug: Deleted Image restores when the gridimage page is navigated back and fourth"
After taking all the photos and when we delete the last image and if we press the back button to the filter page and comes back then the last image which was present will erase and the deleted image comes back.

[2021-03-17 12:01] nicks101 commented on #190
This the basic layout. If you have UI in mind, do tell me. I'll make changes. Also, could I get images that we have to show?

![Screenshot_1615982325](https://user-images.githubusercontent.com/32807816/111464238-855f2e00-8746-11eb-877d-b23b3a719b5b.png)

[2021-03-17 21:35] anushbhatia commented on #190
Add the icons to these rather than the links and images for the project can be taken from [here](https://github.com/smaranjitghose/doc2pen/tree/master/src/assets/images/team)

[2021-03-17 21:59] #189 closed

[2021-03-18 04:14] Borahb opened #201 "Package issue in pubsec.yaml"
Package  package_info 2.0.0 requires SDK version >=2.12.0-259.9.beta <3.0.0 and no versions of package_info match >2.0.0 <3.0.0, package_info ^2.0.0 is forbidden.

So, because doclense depends on package_info ^2.0.0, version solving failed.
![Screenshot (457)](https://user-images.githubusercontent.com/49881148/111572291-58565e00-87ce-11eb-9ae4-07e08d9e2109.png)

Can I solve this issue?
#gssoc21

[2021-03-18 06:42] sakshi2707 opened #204 "Make responsive for small screen sizes"

[2021-03-18 06:42] sakshi2707 commented on #204
please assign this issue to me. I will fix it
please add gssoc and level label too

[2021-03-18 07:18] anushbhatia commented on #201
Be careful while implementing backwards compatibility. The current versions should remain unaffected by this.

[2021-03-18 07:31] Borahb commented on #201
okay

[2021-03-18 12:52] arteevraina commented on #204
Hey @sakshi2707 ! Can you please provide little description for the issue ?

[2021-03-18 13:01] sakshi2707 commented on #204
the code has been made responsive for all the small screen devices. @arteevraina

[2021-03-18 13:26] arteevraina commented on #175
Fixed !

[2021-03-18 13:27] #175 closed

[2021-03-18 18:32] #99 closed

[2021-03-18 18:32] #193 closed

[2021-03-18 18:43] anushbhatia opened #208 "Starrred Document Error"
If try to star a document in the home screen and unstar it from the starred document it doesn't remove the selected star to unselected one in home

https://user-images.githubusercontent.com/40017559/111680091-dd318e00-8847-11eb-8c43-fdf2f91a7b4d.mp4

[2021-03-18 18:49] Saransh-cpp commented on #194
@Neha62-lit can you please make all the colors dynamic in another PR? so that they change according to the theme. Switching the app to dark mode messes up the PDF cards.

## Screenshot
<img src="https://user-images.githubusercontent.com/74055102/111680304-179b2b00-8848-11eb-9139-cea7b5062ff3.png" height="500px"/>

Should we re-open this issue?

[2021-03-18 19:13] Saransh-cpp commented on #208
The problem here is that the home screen is lying below the starred documents screen, so when we go back the home screen doesn't build up rather the home screen lying below is shown. Going back to home screen (after un-starring the PDF) and then pressing the refresh button in the app bar makes the star icon "un-starred" (this confirms the first sentence). For such a situation we can maybe use stre

[2021-03-18 19:51] anushbhatia opened #209 "Implementing OCR"
Adding a feature to add dynamic cropping box explained in this [repo](https://github.com/namansoni/Document-Scanner-using-Flutter-and-OpenCv)
![image](https://user-images.githubusercontent.com/40017559/111688873-5681ae80-8851-11eb-86b8-efa1abbf11a3.png)
Adding measuring handles in the project to get better output.

[2021-03-18 19:52] anushbhatia commented on #208
Yep stream builder has to be used to get updated output from the previous screen to this.

[2021-03-18 19:55] anushbhatia opened #210 "First Time App Launch Bug"
Opening an app on starting it carshes automatically as soon we click the option  to open the scanner camera.
Redirect to the homepage at that time.

https://user-images.githubusercontent.com/40017559/111689227-c6903480-8851-11eb-80ff-645f035aed17.mp4

[2021-03-19 06:06] anushbhatia commented on #180
any update?

[2021-03-19 11:27] Sahil-kachhap commented on #209
@anushbhatia https://pub.dev/packages/edge_detection . Here is a package that can help for this purpose .

[2021-03-19 16:42] #204 closed

[2021-03-19 18:47] anushbhatia commented on #209
This can be used. Do you want to go ahead with this?

[2021-03-19 22:10] #136 closed

[2021-03-20 08:24] abstrxtInfinity opened #216 "Add the dark theme switcher to the Drawer."
I would like to add the dark theme switch button at the top of the drawer as well for quick access.
GSSOC'21 participant
@anushbhatia Kindly assign me this issue if required.

[2021-03-20 09:49] anushbhatia commented on #216
It id, not UI friendly.

[2021-03-20 09:49] #216 closed

[2021-03-20 15:31] tarunsinghofficial commented on #185
Hey @smaranjitghose can I work on this?

[2021-03-20 16:49] #197 closed

[2021-03-20 17:40] #201 closed

[2021-03-20 19:00] #192 closed

[2021-03-20 20:16] abstrxtInfinity opened #218 "Add a theme switcher button in the drawer."
I would like to add a theme switcher toggle in the drawer itself, for quicker access.

[2021-03-20 23:12] #199 closed

[2021-03-21 07:41] #218 closed

[2021-03-21 07:45] abstrxtInfinity opened #220 "Infinite stacking of screens."
I have noticed a major issue in the application and that is the infinite stacking of pages. In my opinion it might be because of using push() instead of pushReplacement(), I would like to work on this issue.
GSSOC'21 participant.

[2021-03-21 08:01] abstrxtInfinity opened #221 "Issue in pdf cards in dark theme."
On toggling dark theme the color of the card text changes to white, I would like to mend it.
I have two ideas, either I just change the color of the text to black again, or I should change the color of the card to black in dark mode.
Kindly guide me what should be done.
GSSOC'21 participant
![bug](https://user-images.githubusercontent.com/55052738/111898069-b80c6d80-8a49-11eb-8f4e-3086c2e52413.jpe

[2021-03-21 08:23] Saransh-cpp commented on #220
This was fixed in #116 , we cannot simply add pushReplecement instead of push as the home screen will be replaced and we don't want that.

For ex -
1. You are on the home screen.
2. You go to the main drawer and select starred docs screen.
3. If the starred docs screen is push replaced then the home screen lying below is gone.
4. Now if the user tries to click the back button to go back to the hom

[2021-03-21 08:29] Saransh-cpp commented on #221
Please have a look at the issue #194 (Duplicate issues), that issue is assigned to someone but I don't think anyone is working on that, so you can comment there.

[2021-03-21 08:54] abstrxtInfinity commented on #194
Assign this to me, I have fixed this. pr #222

[2021-03-21 09:12] abstrxtInfinity commented on #220
Thanks for explaining, I will therefore close this issue.

[2021-03-21 09:12] #220 closed

[2021-03-21 11:38] abstrxtInfinity opened #223 "Starred pdf cards Right overflow."
![error](https://user-images.githubusercontent.com/55052738/111903267-6d99e980-8a67-11eb-9ddc-a8d5d057e988.jpg)

Assign me this if not already fixed.
GSSOC'21 participant

[2021-03-21 13:24] #221 closed

[2021-03-21 16:14] adrishyantee commented on #180
Can I work on this? You can assign it to me.
I am new to flutter but I can do this change.

[2021-03-22 20:32] anushbhatia commented on #223
Add an option for three dots and add extra features on clicking that

[2021-03-22 20:32] #194 closed

[2021-03-22 22:09] SamarpanCoder2002 commented on #210
I think I can solve the problem..... After pick the image, app crashes right? I solved the problem in my project in a tricky way.....
If I can forward with that....please asssign me to here @anushbhatia I am also a GSSOC'21 participant

[2021-03-23 07:04] #190 closed

[2021-03-23 07:16] SamarpanCoder2002 commented on #210
Thanks for assign...I will made a pull request soon @anushbhatia

[2021-03-23 07:31] nicks101 commented on #209
If no one's assigned, can I work on it?

[2021-03-23 07:33] nicks101 commented on #191
[Here's](https://www.linkedin.com/in/nikki-goel-449563159/) mine.

[2021-03-23 09:54] anushbhatia commented on #209
sure

[2021-03-23 17:45] surbhi2408 commented on #180
Can you assign this to me.
I know how to do this.
I am GSSoC'21 participant.

[2021-03-23 19:03] swarupbhanjachowdhury opened #225 "Home Page Document Card RenderFlex overflowed"
`This is considered an error condition because it indicates that there is content that cannot be seen. If the content is legitimately bigger than the available space, consider clipping it with a ClipRect widget before putting it in the flex, or using a scrollable container rather than a Flex, like a ListView.

The specific RenderFlex in question is: RenderFlex#69c5f relayoutBoundary=up14 OVERFLOWI

[2021-03-24 10:39] SamarpanCoder2002 commented on #210
@anushbhatia pull request added with video demo...kindly review it and merge it

[2021-03-24 15:00] SamarpanCoder2002 commented on #210
I modified some...please check it @anushbhatia

[2021-03-24 15:01] DOOMSTERR opened #228 "Modifying/Styling Readme.md file by adding suitable emojis."
## Request ✨
Hello sir, I want to modify the readme.md file.

## Detailed Description
I simply want to modify the heading by adding emojis and aligning the heading to the center:

### Heading to be modified:
-> Features: ----adding emojis
-> App Screens -----adding emojis/aligning to center
-> App Mock-ups -----adding emojis/aligning to center
-> App Demo(screen recording as well) -----adding emoj

[2021-03-24 16:06] adrishyantee opened #229 "The three dotted vertical drop down icon in home page is not functional"
The vertical pop-up menu which is supposed to be found after clicking on the rightmost icon on the homepage is not implemented. It should show us a list of items to be displayed there. Kindly look into it.

[2021-03-24 16:13] adrishyantee opened #230 "Feature Request: Introduction of reordering pdf pages before finalizing to make the pdf."
The pdf pages are set as we select the image items but it would have been user-friendly if it had to reorder the pdf pages before actually making a pdf. This would provide more control to users to design the pdf in their way.

[2021-03-24 17:36] Udit-singh commented on #229
@adrishyantee I would like to work upon this under gssoc21, one thing I want to ask, which List of items should be displayed?

[2021-03-25 07:44] nicks101 commented on #209
Hey @anushbhatia , for implementing edge detection we following choices.

- use [edge_detection](https://pub.dev/packages/edge_detection) package. The problem with this is it's not active and doesn't have a null safety version. Not customizable also.
- use [opencv](https://pub.dev/packages/opencv) package. Problems are the same as above.
- use [scanbot_sdk](https://pub.dev/packages/scanbot_sdk/ver

[2021-03-25 11:51] SamarpanCoder2002 commented on #210
I modified the code and now all checks passed... Kindly review it and merge it @anushbhatia

[2021-03-25 15:30] vinc3nati opened #231 "Added google/facebook auth."
We can add authorization to our app, so that we can better manage our userbase and collect useful data.

[2021-03-25 15:36] SapinderSingh commented on #229
@arteevraina Please assign this issue to me, as I raised it first. #177

[2021-03-25 15:39] arteevraina commented on #229
@anushbhatia Do we need this ?

[2021-03-25 20:10] anushbhatia commented on #231
No use in a scanner.

[2021-03-25 20:10] #231 closed

[2021-03-25 20:10] anushbhatia commented on #180
Sure @adrishyantee

[2021-03-25 20:13] anushbhatia commented on #209
I have a codebase based on OpenCV you can use that will push it on another branch. i think the version I m using is stable in that can be used. Let me know I will upload the code if needed

[2021-03-25 20:15] anushbhatia commented on #229
no we can remove that icon present. if anyone is ready to take that up create a new issue

[2021-03-25 20:15] #229 closed

[2021-03-25 20:16] anushbhatia commented on #228
Sure you can go ahead with this try giving PR as soon as possible.

[2021-03-25 23:50] smaranjitghose commented on #231
TBH, we want the user experience of our app to be similar to what we ourselves want from the apps we use. Install, Get the job done, No Ads, No Tracking, Least Privacy Issues.

[2021-03-25 23:54] smaranjitghose commented on #209
Is there any way we can make use of a wrapper around the python code of opencv-python or opencv-python-contrib?

[2021-03-26 00:15] SapinderSingh opened #232 "Removing three dot menu from the home screen."
as @anushbhatia said, the app doesn't need that menu button. So I would like to remove that button. Please assign me this issue as a participant of GSSOC 21.

[2021-03-26 00:32] smaranjitghose commented on #232
A quick tip: whenever you raise an issue that follows another previous issue or PR, it is more suitable to write something like "Continued from #issue_number" rather than "XYZ said this..so..."

Assigned for 2 days.

[2021-03-26 03:52] nicks101 commented on #209
Yes, please upload it. Will look into it.

[2021-03-26 04:00] nicks101 commented on #209
So there are two ways that I could find -

1. Deploy python code (probably flask) and use API in dart.

2. There's a package [starflut](https://pub.dev/packages/starflut) which does exactly this. Integrated python code in flutter.
Will have to check about null safety version.

These are related links -

[How to run the python code in the Flutter app](https://smazee.com/blog/how-to-run-the-python-c

[2021-03-26 04:49] adrishyantee commented on #230
Can someone help me with this? Would be of much help if I get ideas to implement this.

[2021-03-26 07:57] SamarpanCoder2002 commented on #210
You can check now @anushbhatia

[2021-03-26 14:45] DOOMSTERR commented on #228
Sir, Please add the labels as well. Or else It won't be counted.

[2021-03-26 23:15] SamarpanCoder2002 commented on #210
Now all the conflicts resolves and all lint checking are passes....Now you can review it and merge it @anushbhatia

[2021-03-27 06:34] #180 closed

[2021-03-27 06:34] #232 closed

[2021-03-27 06:39] smaranjitghose commented on #209
In 2021, we don't use Flask anymore..the defacto choice has become Fastapi. That being said in case you plan to go ahead with the api integration, let me know if you need any assistance

[2021-03-27 07:08] nicks101 commented on #209
If I go with making my own API (either with FastApi or flask or any other tech), we'll have to deploy it as well right? Also, the app needs internet then, it won't work offline.
There could be some third-party APIs available also.

Just to be clear, this is what we want :

1. A screen with a camera preview that has two buttons: take a photo and choose an image from the gallery
2. A screen that app

[2021-03-27 07:35] anushbhatia commented on #210
Great work @SamarpanCoder2002 🎊

[2021-03-27 07:35] #210 closed

[2021-03-27 20:06] anushbhatia commented on #209
https://github.com/smaranjitghose/DocLense/tree/old_code this is the code used before implementing the measuring handles.

[2021-03-27 20:07] anushbhatia commented on #209
For this, we can do one thing simply
1. if the user is online then we can provide this feature of the measuring handles.
2. if the user is offline we can go ahead with the usual method

[2021-03-28 10:06] #228 closed

[2021-03-28 11:57] Saransh-cpp commented on #230
Check out [this](https://pub.dev/packages/reorderables) package, it is in sync with the latest flutter updates. @anushbhatia should we go ahead with this?

[2021-03-28 17:47] #164 closed

[2021-03-28 20:16] anushbhatia commented on #230
yep LGTM

[2021-03-29 05:28] Saransh-cpp opened #240 "Bug: Moving a PDF to another directory removes it from starred documents"
## Steps to reproduce
1. Create a PDF
2. Star it
3. Move it to another directory

## Result
1. The star present in the PDF card changes to the empty one.
2. The document available in starred documents screen becomes completely inaccessible.

[2021-03-29 06:12] Saransh-cpp opened #242 "Bug: Storing 'File' type in Hive Box and the disappearing PDFs"
## Bugs
1. After a PDF is created or after the PDF is starred, the console throws this error which actually does not affect anything but should be fixed.

[code]

2. Whenever the app is closed and opened again, the PDFs somehow disappear. They are available on the location in which they were stored in the device but are not available through the app. My initial guess is that the above error is cre

[2021-03-29 07:29] anushbhatia commented on #242
Yes, we can store the images into strings rather than that can we store the file paths present there to the hive box and retrieve them directly in the app.
[code]
Hope [this](https://medium.com/flutter-community/storing-local-data-with-hive-and-provider-in-flutter-a49b6bdea75a) medium article helps.

[2021-03-29 08:29] Saransh-cpp commented on #242
Thanks! I will look into this

[2021-03-29 16:27] anujjain5699 commented on #186
I would like to work on it, will u assign this issue to me @anushbhatia

[2021-03-29 18:11] anushbhatia commented on #186
let him do this if he is not able to give the pr in 1 day u can take it up @anujjain5699

[2021-03-29 18:33] #160 closed

[2021-03-29 19:40] #242 closed

[2021-03-29 23:34] SapinderSingh opened #244 "Enhancement: Using Named routes instead of on the fly routes."
I think we should use named routes instead of on the fly routes. They are easy to manage and maintain. In the drawer, we should replace the pages instead of pop and push, because it makes the transition and animation look really bad.

I want to solve this problem. Please assign me this issue, under GSSOC 21.

[2021-03-30 06:55] abstrxtInfinity commented on #186
#### Can you tell me what will be the icon for the application.

[2021-03-30 07:44] anushbhatia commented on #244
can you mention the instances for it?

[2021-03-30 08:50] SapinderSingh commented on #244
@anushbhatia what do you mean by instances ?

[2021-03-31 17:40] #240 closed

[2021-03-31 18:23] anushbhatia commented on #244
where is fly routes being used any example?

[2021-04-01 09:25] Udit-singh commented on #186
**@anushbhatia Can I add this image as an App icon under gssoc'21.**
![Screenshot (2548)](https://user-images.githubusercontent.com/55452299/113273165-00eddd00-92fa-11eb-8bc4-82eee09e8e9d.png)
**If yes, Then please assign it to me.**

[2021-04-01 11:38] SapinderSingh commented on #244
@anushbhatia wherever Navigator.push is used.

[2021-04-01 11:39] SapinderSingh commented on #244
@anushbhatia I think we should use the routes table and Navigator.pushNamed

[2021-04-02 06:38] Udit-singh commented on #191
@anushbhatia Has of issue #190 is completed, I would like to work upon this under Gssoc'21,
Please assign it to me.

[2021-04-02 07:14] anushbhatia commented on #244
Be careful to check all navigation routes there

[2021-04-02 07:27] anushbhatia commented on #186
this looks fine to me but if you could remove the white background from it. Wouldn't that be better?

[2021-04-02 07:28] anushbhatia commented on #186
that's present in the assets folder.

[2021-04-02 07:33] Udit-singh commented on #186
@anushbhatia I can remove the white background from it, Please assign it to me.

[2021-04-02 07:39] Saransh-cpp commented on #186
I think there was an SVG like this present in the assets folder. Maybe we can use that?

[2021-04-02 08:05] anushbhatia commented on #186
yes

[2021-04-02 08:05] SapinderSingh commented on #244
@anushbhatia Okay 👍

[2021-04-02 17:13] aishux opened #245 "Auto Label Issues"
**Describe the feature you'd like to add**
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contributors ask to work under that label.

**Describe how you will do it**
I will add a script in .github folder which will

[2021-04-03 08:21] smaranjitghose commented on #245
You wish to add a workflow for labelling PRs/Issues @aishux right?

[2021-04-03 08:33] aishux commented on #245
Yes. So whenever someone opens an issue and asks to contribute under the GSSOC tag, the bot will assign them a GSSOC tag and a bug/feature/enhancement tag.

Attaching a screenshot for reference.

![image](https://user-images.githubusercontent.com/61228436/113342643-5a7ef780-934c-11eb-9fdd-19aaf5f339b2.png)

[2021-04-03 08:36] smaranjitghose commented on #245
Sure. I have it on some of my other repos too. Saves some time indeed. Go ahead with this please

[2021-04-03 16:33] swarupbhc commented on #223
@anushbhatia I think this issue has been solved, you should close this issue.

[2021-04-03 16:33] swarupbhc commented on #225
@anushbhatia I think this issue has been solved, you should close this issue.

[2021-04-04 06:08] aishux commented on #245
Please assign me a level tag

[2021-04-04 06:20] #245 closed

[2021-04-04 06:34] #223 closed

[2021-04-04 08:08] Khushi-24 commented on #171
@arteevraina Can I work on this?

[2021-04-04 08:09] arteevraina commented on #171
Sure thing !

[2021-04-04 15:11] #225 closed

[2021-04-05 16:18] #191 closed

[2021-04-05 19:09] Saransh-cpp commented on #230
I will try to implement the feature as no one is working on this.

[2021-04-07 01:22] smaranjitghose commented on #171
Any updates @Khushi-24 ?

[2021-04-07 03:41] anotherwebguy commented on #186
Plz assign me this issue i would like to create an app icon under gssoc

[2021-04-07 03:44] anotherwebguy commented on #186
![SAVE_20210407_091423](https://user-images.githubusercontent.com/66346161/113807398-acc37c80-9781-11eb-951a-dd68f84b8214.jpg)
 Would this look nice?

[2021-04-07 04:33] Khushi-24 commented on #171
Sorry for the inconvenience. Due to some issues, I am unable to work on this.

[2021-04-09 09:42] anotherwebguy commented on #186
![smart_doc_scanner_icon](https://user-images.githubusercontent.com/66346161/114161520-cad9da00-9945-11eb-8e17-374342a593ba.jpg)

Have a look at this @abstrxtInfinity @anushbhatia
Will this do?

[2021-04-09 09:45] anotherwebguy commented on #186
If this looks good i would make this as app icon and in the manifest file and make a pr?

[2021-04-09 15:08] anotherwebguy commented on #186
Should i make a pr?
@anushbhatia @abstrxtInfinity

[2021-04-10 09:25] anushbhatia commented on #186
We already have logo in assets folder.

[2021-04-10 09:28] anotherwebguy commented on #186
So what exactly i have to do? @anushbhatia

[2021-04-10 09:31] anushbhatia commented on #186
https://github.com/smaranjitghose/DocLense/blob/main/assets/doclenselightsmall.svg
Add this logo to the project as app icon.

[2021-04-10 09:32] anotherwebguy commented on #186
Ok i'll make a pr soon. Thanks for assigning me :) @anushbhatia

[2021-04-10 23:55] SapinderSingh opened #251 "Add 'Press back again to exit' functionality."
To solve [this](https://github.com/smaranjitghose/DocLense/pull/248#pullrequestreview-631220987) issue, which @Saransh-cpp mentioned, I think the app should have a 'Press back again to exit' functionality. So that if use presses back on any screen, there will be a snackbar or a toast saying 'Press back again to exit' or something like that.

If this issue approves, please assign it to me under GSS

[2021-04-11 20:00] SamarpanCoder2002 opened #252 "Share the Document via Multiple Apps"
Suppose some one scan a document and that store in storage...But If someone want to share it via whatsapp, or other social media app or save it in onedrive or in google drive, that feature till not added.....

I want to implement it... It's can gives the flexibility of the app...

I also a GSSOC21 participant...If I can forward with that, please assign me to here @anushbhatia

[2021-04-12 16:12] anushbhatia commented on #251
create a pull request for this too along with this will merge both together.

[2021-04-14 06:36] anushbhatia commented on #252
Already added in-app drawer

[2021-04-14 06:36] #252 closed

[2021-04-14 06:39] anushbhatia opened #254 "Adding Loader✨"
Between screens where the loading time is more. It would be convenient to add a loader.
Loaders https://pub.dev/packages/flutter_easyloading you can use these or suggest some new package related to this.

Screen transition would feel better and UX will be improved by adding loader in the project.
YOu can refer to the `old_code` branch for the loader if you want references.

[2021-04-14 07:34] SapinderSingh commented on #254
I would like to work on this issue.

[2021-04-14 12:19] smaranjitghose commented on #254
Assigned for 2 days

[2021-04-15 14:04] SapinderSingh commented on #254
@anushbhatia Can you specify the screens ?

[2021-04-15 18:56] Saransh-cpp commented on #230
Turns out, this is weirdly difficult to implement using the package above and all the rest packages and in-built widgets are made to reorder a ListView and not a GridView. One helpful package I found was [this](https://github.com/DevOrbiter/drag_and_drop_gridview) which has been updated to null safety on GitHub but they haven't updated the same on pub.dev (which they are planning to do). I will im

[2021-04-18 14:32] smaranjitghose commented on #230
Cool!

[2021-04-18 14:34] #186 closed

[2021-04-18 14:35] #171 closed

[2021-04-22 19:20] anushbhatia commented on #254
moving from every screen starting from the opening camera till the croping screen

[2021-04-24 19:09] #251 closed

[2021-04-25 04:46] SapinderSingh commented on #244
Issue resolved by #248

[2021-04-25 04:46] #244 closed

[2021-05-12 16:15] #254 closed

[2021-05-14 06:54] Saransh-cpp opened #260 "Update README.md"
A few small issues which can be collectively tackled -

- [ ] Update `App Screens` with the latest screens.
- [ ] Update `App Mockups` with the latest screens.
- [ ] Update `App Demo` after pulling the latest code.
- [ ] Extra `?` in `Contributing Guidelines` line 2.
- [ ] Missing "\`" from `Contributing Guidelines` point 12.

[2021-05-15 18:25] smaranjitghose commented on #260
Assigned for 2 days

[2021-05-19 20:36] Saransh-cpp commented on #260
I'm a bit preoccupied with other things, I'll un-assign myself to make room for others.

[2021-05-27 17:52] mrunal512 commented on #260
please assign me @smaranjitghose

[2021-05-27 17:52] mrunal512 commented on #260
please assign me this issue under gssoc @smaranjitghose

[2021-05-30 15:07] anushbhatia commented on #260
Anu update @mrunal512 ?

[2021-06-06 12:00] payaldutta commented on #185
Hey, @smaranjitghose I am Payal from Nit, Kolkata, and a complete begineer in open source I choose this DocLense for the contribution I'm LGM-SOC'21 but stuck in as from where to start. I searched for good first issues but there are no such issues here and I am not getting the mailing list or contributor channel also. Can you please help me where should I start from and give me the mailing list al

[2021-06-06 14:27] smaranjitghose commented on #185
@payaldutta Currently all the issues in this project assume you to have more than basic knowledge of Flutter+Dart. However, we would be soon opening issues regarding the web development related tasks. Keep an eye on the project. Meanwhile, check out doc2pen and awesome-porfolio-websites

[2021-06-06 16:51] payaldutta commented on #260
can you please assign me this on 10th June under LGM-SOC'21 and I am Payal a complete beginner in open source want your help to find the community channel as I am interested in contributing to this project and is unable to locate it?
Thank you

[2021-06-07 06:49] payaldutta commented on #260
Ok, I am gonna work on it as no one is assigned this issue under LGM-SOC'21.

[2021-06-07 07:13] payaldutta commented on #260
Please assign me this under LGM-SOC'21 @smaranjitghose

[2021-06-08 05:49] anushbhatia opened #262 "Adding a filter for black&white(Grayscale)"
Requested feature from a user to create a Grayscale image and keep that filter to be easy to use.

Reference to the article is attached below
https://medium.com/@samarth_agarwal/turn-images-to-grayscale-in-flutter-the-colorfiltered-widget-16de44cf8045

[2021-06-08 05:52] anushbhatia opened #263 "Add play store logo to readme"
In the readme.MD add the logo mentioning the link for the play store and the redirection link is given below.
https://play.google.com/store/apps/details?id=com.anushbhatia.doclense

[2021-06-08 06:00] anushbhatia opened #264 "Crafting a Proper Description of app for playstore"
Currently, the drafted content for the app is too basic and it is no that interesting. It would be great if someone could work and enhance the content for it.

 References
https://play.google.com/store/apps/details?id=com.adobe.scan.android
https://play.google.com/store/apps/details?id=photo.pdf.maker

[2021-06-08 06:23] anushbhatia opened #265 "Desiging the What's New section in Play store"
Every Play Store has a section for the updates that it launches with it.
![image](https://user-images.githubusercontent.com/40017559/121133211-b3d53c80-c84f-11eb-9b85-8cf78b286b7e.png)

We need a short description of what's there in the updated app.

[2021-06-08 07:20] anushbhatia opened #266 "Reducing the number of screen"
In the current Model
1. Two navigation screens are present
 one for cropping and one for filters.
 Instead, we can minimize it to one.
![WhatsApp Image 2021-05-21 at 12 40 45 AM (2)](https://user-images.githubusercontent.com/40017559/121140847-f13dc800-c857-11eb-857c-11823b7a9fff.jpeg)
![WhatsApp Image 2021-05-21 at 12 40 45 AM (3)](https://user-images.githubusercontent.com/40017559/121140903-01ee

[2021-06-08 07:52] anushbhatia opened #267 "Apply Filter to complete pdf"
An option to add the filter to all the pages.

1. When done making PDF
2. On the rename page we can add the option to add the filter to all pages.

[2021-06-08 08:12] anushbhatia opened #268 "Option to provide flash while clicking pictures"
An option to enable to click pictures in flash.

[2021-06-08 15:11] SamikshaSankar commented on #263
Please assign this issue @anushbhatia

[2021-06-08 16:34] payaldutta commented on #265
Please assign me this under LGM-SOC'21 @anushbhatia

[2021-06-08 17:57] #230 closed

[2021-06-08 17:58] #100 closed

[2021-06-08 17:58] #104 closed

[2021-06-08 17:58] #154 closed

[2021-06-08 17:58] #185 closed

[2021-06-08 17:59] #200 closed

[2021-06-09 09:07] anushbhatia opened #269 "Adding an If condition to check for the internet"
If there's internet available we will use the OCR created in issue  #249
else that screen can be skipped automatically.
The output of the OCR can be considered there

[2021-06-09 16:04] rudranshsharma123 commented on #264
Hello! I am a participant of LGM-SOC. I would love to work on this issue. Can I be assigned this one?

[2021-06-09 16:07] rudranshsharma123 commented on #266
Hello, I am a participant of LGM-SOC. I am assuming all the widgets and logic from the Filters need to be transported into the main screen after taking the picture? I would love to work on this issue.

[2021-06-09 19:36] smaranjitghose commented on #264
Assigned for 3 days

[2021-06-10 13:25] anushbhatia commented on #266
Yeah, the filter's button is present there you just have to move this here. If you face a problem with undo and redo function you can move it up.

[2021-06-10 16:26] Prakash-Haldar commented on #263
Please assign this issue to me sir @anushbhatia

[2021-06-10 17:41] smaranjitghose commented on #263
@Prakash-Haldar please understand that simple issues once assigned to a participant won't be assigned to another before the completion of 3 days from the assignment date of the former

[2021-06-10 17:43] Prakash-Haldar commented on #263
Ok Sir Thanks for the information

[2021-06-10 17:54] Prakash-Haldar commented on #263
I will wait for my turn for sure.
Thank You.

[2021-06-10 19:01] SamikshaSankar commented on #263
![2021-06-11](https://user-images.githubusercontent.com/52104082/121582042-2ca0e800-ca4c-11eb-8003-b46b90245a7d.png)

Is this okay..?

[2021-06-12 16:46] rudranshsharma123 commented on #264
Hey, how should I link a PR to this issue? I don't really see any text file. Should I add one or should I comment the description I am really perplexed. Kindly help me out!

[2021-06-12 21:42] anushbhatia commented on #264
USE #(IT WILL AUTOMATICALLY RECOMMEND THAT). There isn't any text file you can add a custom one.

[2021-06-12 21:46] anushbhatia opened #272 "Tile adjustment according to size of device"
In this case, you can see the tile feels really weird according to the size of the device.
**Solutions**
Reduce the size of the card.
Increase elements of the card according to the device
![Screenshot_20210612-154308](https://user-images.githubusercontent.com/40017559/121789692-8e508600-cbf5-11eb-9355-3e330c585a14.png)

[2021-06-12 21:52] anushbhatia opened #273 "Adding margin to right"
`Choose directory to save` is not any margin gap it is overflowing outside.
![Screenshot_20210612-154218](https://user-images.githubusercontent.com/40017559/121789780-7cbbae00-cbf6-11eb-97bc-cc5d02e61b45.png)
So add proper padding and margin so that text is not overflowing here.

[2021-06-12 21:55] anushbhatia opened #274 "Image box overflow"
Card box overflow's here to avoid this we can fit the image to the box.
![Screenshot_20210612-154118](https://user-images.githubusercontent.com/40017559/121789833-0c615c80-cbf7-11eb-93f0-a1f2cd2518c2.png)

[2021-06-13 08:15] pratishthaa commented on #262
Can I be assigned with this?

[2021-06-13 10:50] smaranjitghose commented on #262
Assigned for 3 days

[2021-06-14 16:21] Prakash-Haldar opened #276 "Issue in Readme"
#275
There is update. Terms such as {platforms} in line no.23
there is update. a phrase {Rename The Documents} in Description part

[2021-06-16 04:09] Priyanshu078 commented on #273
please assign me this issue

[2021-06-16 04:09] Priyanshu078 commented on #268
please assign me this issue

[2021-06-16 06:08] Priyanshu078 commented on #273
Sir can we use the folder icon in place of Choose directory to save

[2021-06-16 06:53] khushi0704 opened #278 "In readme , pull request logo/gif not showing"

[2021-06-16 06:54] khushi0704 commented on #278
showing now

[2021-06-16 06:54] #278 closed

[2021-06-16 06:56] anushbhatia commented on #273
You can add both by reducing the size of the text and adding an icon next to it.

[2021-06-16 11:33] Priyanshu078 commented on #273
Only with folder icon
![doclense1](https://user-images.githubusercontent.com/66347715/122211748-b1fd2000-cec4-11eb-8e30-f4a78a2054c6.jpg)

Text with folder icon
![doclense2](https://user-images.githubusercontent.com/66347715/122211803-c0e3d280-cec4-11eb-8298-7e95de9a0930.jpg)

please suggest

[2021-06-16 15:31] anushbhatia commented on #273
folder looks better

[2021-06-16 15:32] Priyanshu078 commented on #273
so only folder will be ok

[2021-06-16 15:36] Priyanshu078 commented on #268
sir In the app when we open the option to scan so it opens the phone camera and there is an option to use flash while scanning
so what to do

[2021-06-17 10:03] Priyanshu078 commented on #268
@anushbhatia please help

[2021-06-17 18:41] anushbhatia commented on #268
Yes this has been resolved. You can create another if you find so.

[2021-06-17 18:41] #268 closed

[2021-06-18 13:37] Priyanshu078 commented on #272
@anushbhatia Sir I think this issue is also solved because it is working fine on my phone
![doclense3](https://user-images.githubusercontent.com/66347715/122569478-67b4a400-d068-11eb-966d-c47331284b2d.jpg)

[2021-06-18 13:42] Priyanshu078 commented on #274
@anushbhatia Is this issue solved because its working fine on my phone
![doc](https://user-images.githubusercontent.com/66347715/122570198-240e6a00-d069-11eb-968d-6d558ba032e0.jpg)

[2021-06-18 18:00] anushbhatia commented on #274
Try using a tablet on an emulator?

[2021-06-18 18:01] anushbhatia commented on #272
Yep, but where the resolution of the screen is large this issue persists try a larger device like a tablet,iPad etc.

[2021-06-18 18:02] anushbhatia opened #282 "Error in Gallery page"
If I delete a pic, go back once, to the filters menu, and then go forward again, it adds the last clicked pic (+filter) to the pdf even though I don't want it. If you do this 3 times, it adds that pic 3 times to the pdf.

[2021-06-19 20:06] ishitakapoor26 opened #283 "Design Logo"
Design Logo for DocLense

[2021-06-19 20:06] ishitakapoor26 commented on #283
pls assign me this issue.

[2021-06-21 11:30] Priyanshu078 commented on #269
@anushbhatia  Sir where is the code for the OCR present in the project

[2021-06-21 16:08] Priyanshu078 commented on #269
@anushbhatia  Sir is there any code present in the project for OCR

[2021-06-23 07:07] anushbhatia commented on #269
Yes checkout `OCR` branch once.

[2021-07-06 05:58] anushbhatia opened #284 "Creating a landing page for app."
Refrence for it is here:https://www.resso.app/in

[2021-07-25 15:04] ayushvrma commented on #263
Please assign me this issue if it hasn't been completed yet.

[2021-07-26 13:10] #263 closed

[2021-10-23 15:54] Priyanshu078 commented on #272
I want to work on this issue
please assign me this issue @anushbhatia

[2021-10-23 15:56] Priyanshu078 commented on #274
Please assign me this issue
I want to work on this issue @anushbhatia

[2021-10-31 08:59] #272 closed

[2021-11-06 07:57] Niranjan-10 opened #286 "Camera is not opening if target sdk version >= 30"
![issue](https://user-images.githubusercontent.com/39689824/140602558-f9e2c3b4-3976-4035-987d-6ab7aca60c44.PNG)

[2021-11-06 08:05] Niranjan-10 commented on #286
Hey, there if you don't mind, I want to work on this issue.

[2021-11-09 16:05] ayyysh04 commented on #266
Already working on this task. Please assign this task to me.

[2021-11-09 17:35] Atharv-Joshi commented on #284
Can I work on this?

[2021-11-09 22:17] ayyysh04 commented on #266
Done the task and created the pull request ,please review the same @anushbhatia

[2021-11-09 22:30] ayyysh04 commented on #282
so there are two problems:
1.when we add a image ,and then delete it and go back ,it shows the previous added image.
2.when we make a pdf or go back without creating a pdf ,in the next pdf our previously added image are also there.
right?

[2021-11-10 14:28] ayyysh04 commented on #266
@smaranjitghose

[2021-11-13 06:09] shivangnayar-dev commented on #273
can i work on this

[2021-11-13 14:47] anushbhatia commented on #266
Sure will review it and let you know

[2021-11-13 14:49] anushbhatia commented on #282
Yes. Do you want work on them?

[2021-11-14 12:27] ayyysh04 commented on #282
ya sure, please assign this task to me

[2021-11-14 12:30] ayyysh04 commented on #282
Also while using the app ,I noticed that app UI is very outdated. If you allow me ,I can work on improving the UI of the app.

[2021-11-14 19:29] ayyysh04 commented on #282
@anushbhatia

[2021-11-14 21:50] ayyysh04 commented on #266
@anushbhatia you can close this issue now.😀

[2021-11-15 03:41] #266 closed

[2021-11-15 08:39] ayyysh04 opened #289 "Improving UI of the app"
Hey,if you allow me ,can I work on improving the UI of the app.

[2021-11-15 08:54] ayyysh04 commented on #282
ya sure, please assign this task to me

[2021-11-15 11:52] anushbhatia commented on #289
Yep but what will the be the approach if you could give a brief idea on it.

[2021-11-15 12:41] ayyysh04 commented on #289
I will be changing the complete UI like the bottom nav bar, colour scheme,etc.
I liked these design ,have a look:
https://dribbble.com/shots/5974983-PDF-scanner-app-UI
https://dribbble.com/shots/11436079-Scanner-App-Concept
You can also provide me some reference designs.

[2021-11-15 16:55] anushbhatia commented on #289
Suree, do follow proper folder structure for components and pages if there are any.
These designs look amazing, looking forward to some awesome contribution

[2021-11-15 16:56] anushbhatia commented on #284
Sure Atharv Joshi go ahead with it

[2021-11-15 20:38] ayyysh04 commented on #286
In my device, app is still crashing after camera is opened.

[2021-11-15 21:03] ayyysh04 commented on #289
Can I integrate the camera in app itself using camera package build preview with zoom ,camera quality and other basic things?
By doing this a better speed ,design to camera screen and further we can add filters in camera preview itself and lot more.

[2021-11-16 04:38] anushbhatia commented on #289
yes you can for that but the UI of app should be minimal and basic if possible.

[2021-11-16 10:03] ayyysh04 commented on #282
Done the task and created the pull request ,please review the same @anushbhatia

[2021-11-16 12:13] Atharv-Joshi commented on #284
Wouldn't a separate repo be efficient since the application has a lot of dependencies?

[2021-11-16 15:54] ayyysh04 commented on #289
This is what I have done till now, see if this is what you are looking for or not.
Reference design: https://ui8.net/springo/products/document-scanner-app
or should I go for this one : https://dribbble.com/shots/11436079-Scanner-App-Concept

![Screenshot_2021-11-16-21-18-34-883_com example doclense](https://user-images.githubusercontent.com/74104690/142018917-6416375f-7367-4f62-a495-f456f1d6f472.j

[2021-11-16 16:32] anushbhatia commented on #284
Sure no problem I will update the base code for it.

[2021-11-16 16:36] anushbhatia commented on #289
Actually both design are equally beautiful 😍 and amazing 👏. Glad you were able to replicate the design so well. Keep tit up. I m anyways fine with any design. Just keep the colors in shades of max 5 color pallet otherwise no issues. These design don't need any suggestions as in my case.

We currently don't have a folder structure soo images or pdfs will everywhere latter we can replace them with f

[2021-11-16 16:46] ayyysh04 commented on #289
Ok so I will be removing the folder part and thanks for the appreciating my work.🤗

[2021-11-16 18:22] Atharv-Joshi commented on #274
![image](https://user-images.githubusercontent.com/53505850/142042685-66bdae32-9c85-4708-9c3e-8a8b934a8593.png)
On Phone
![image](https://user-images.githubusercontent.com/53505850/142042750-cf7c8591-4208-4338-ab7e-eac9a57df1cb.png)
On emulator
![image](https://user-images.githubusercontent.com/53505850/142043217-74c683f7-7a68-45c0-9d34-3d6f2522ce92.png)

Is this solution ok?

[2021-11-16 18:22] anushbhatia commented on #282
Will get back to you on this by tomorrow.

[2021-11-17 06:12] anushbhatia commented on #274
yes looks good

[2021-11-17 14:00] Atharv-Joshi commented on #274
There is a UI update PR though so no point in doing this if its fixed in it

[2021-11-17 16:05] Atharv-Joshi commented on #262
I would like to work on this if its still pending

[2021-11-18 13:41] ayyysh04 commented on #289
@anushbhatia if you are comfortable ,can we talk on discord, WhatsApp or any other platform. I really like this project and wanted to contribute more.

[2021-11-18 14:40] ayyysh04 commented on #289
@anushbhatia I cant use google fonts and other packages as most of the packages are deprecated, null safety is disabled, very old flutter sdk ,old kotlin version .I have solved all the problems and updated the app ,I am only left with creating a pdf viewer ,as  flutter_full_pdf_viewer package is deprecated and null safety disabled. Should I create a pull request for this and go on?

[2021-11-20 16:40] anushbhatia commented on #289
YEs sure go on

[2021-11-20 16:44] anushbhatia commented on #262
Go ahead @Atharv-Joshi

[2021-11-20 16:45] #274 closed

[2021-11-20 17:10] anushbhatia commented on #284
check out the docs repo in the current repo
https://github.com/smaranjitghose/DocLense/tree/docs

[2021-11-20 18:51] Atharv-Joshi commented on #284
Hey! I thought I had to create it using flutter? I don't know react.

[2021-11-20 19:38] anushbhatia commented on #284
Sure no problem we can take up the flutter web framework then

[2021-11-21 04:12] Atharv-Joshi commented on #284
thanks!

[2021-11-22 09:41] anushbhatia commented on #284
Updated the code have a look at it.

[2021-11-22 09:42] #282 closed

[2021-11-22 09:42] #276 closed

[2021-11-24 14:11] Atharv-Joshi commented on #284
https://drive.google.com/drive/folders/1yQyUzp-xhzEF8kOt7joWDZQ96wM1YDGW?usp=sharing

can you check it out and give any suggestions?
I cannot figure out what the background should be

[2021-11-25 12:06] Atharv-Joshi commented on #262
![Screenshot_1637841841](https://user-images.githubusercontent.com/53505850/143438679-58899ba7-aac1-45f4-a18e-d8934e6cc745.png)
![image](https://user-images.githubusercontent.com/53505850/143438732-05b3a6d6-dace-4b97-b167-d2fdba24ebe1.png)

can you please tell me what is the name of the filter screen?
I cannot find it

[2021-11-25 13:46] anushbhatia commented on #284
Looks amazing go ahead to convert them from Figma/XD to flutter plugin. We will also have a section for contributors that with their GitHub profile as a carousel. You can later add them. Till then I will add these in the readme for references.

[2021-11-25 14:08] Atharv-Joshi commented on #284
what do you mean by flutter plugin?
Like should I create a plugin for general landing page and then use it in this repo or directly code in this repo?
sorry for the trouble!

[2021-11-25 14:40] anushbhatia commented on #284
No, actually there's a plugin that converts the design to flutter not that accurate but gives you the base code.
https://www.figma.com/community/plugin/844008530039534144

No need to design a plungin for this

[2021-11-25 14:57] anushbhatia commented on #262
image_view check that cause we have merged screens to make it more efficient. Also, there's a plugin used for that photofilters which is present in that I think. Want to move the black and white filters ahead so that anyone could select the important ones only and remove the unused filters present there.

https://pub.dev/packages/photofilters
Feel free to replace this code in case u want with cust

[2021-11-25 15:03] Atharv-Joshi commented on #262
thanks !
will check it out

[2021-12-06 14:33] ayyysh04 commented on #289
This is what i have done till now in UI, please review the same @anushbhatia .
other changes :
-added new search bar with listbuilder search method
-added time of creating of document

UI:
![Screenshot_2021-12-06-19-29-29-636_com example doclense](https://user-images.githubusercontent.com/74104690/144862477-d7350f3c-19f3-494b-9b6f-9c14d4119cec.jpg)
file search:
![Screenshot_2021-12-06-19-29-42-117

[2021-12-06 20:57] anushbhatia commented on #289
Looks awesome 🥳

[2021-12-07 04:56] ayyysh04 commented on #289
@anushbhatia why is OCR branch not merged in main ?

[2021-12-09 18:18] anushbhatia commented on #289
It's not having the feature to work offline in case if the user doesn't have internet.

[2022-01-14 09:25] ramanjitsingh-hub commented on #283
can i contribute to this issue

[2022-01-15 04:47] ramanjitsingh-hub commented on #283
I have a logo design
should I change it in the codebase and raise a PR or just submit it here

[2022-01-16 18:58] anushbhatia commented on #283
can you send the sample here before creating a PR for that.

[2022-01-17 05:22] ramanjitsingh-hub commented on #283
Two of the designs I have selected. Suggestions will be appreciated

![DocLense (1)](https://user-images.githubusercontent.com/63701517/149712298-bbb9be33-3a8a-4bd4-a671-68b1179b9cd4.png)

![DocLense](https://user-images.githubusercontent.com/63701517/149712381-7f692131-91b7-4bf7-b870-5f04b0b6621d.png)

[2022-01-17 21:52] smaranjitghose commented on #283
@ramanjitsingh-hub,
Although @anushbhatia is the expert on the design side and his verdict is final, I must say your designs are clean and crisp and conform to our theme. Would it be possible for you to give an Indian touch to lens or maybe the text below?

[2022-01-18 02:31] ramanjitsingh-hub commented on #283
Yeah I can do that. Can you confirm which of the two above should I change.If you want to review both of the logos with some Indian accent I can do that too

[2022-01-18 06:49] anushbhatia commented on #283
the 2nd one refine the edges on the inner border cause the strokes are a bit outside it.

[2022-01-18 10:22] ramanjitsingh-hub commented on #283
How about this one
![DocLense (3)](https://user-images.githubusercontent.com/63701517/149918813-fd4df491-ae7e-4786-933e-8815cbd07e80.png)

[2022-01-18 23:44] smaranjitghose commented on #283
Awesome! @anushbhatia your comments?

[2022-01-19 16:11] anushbhatia commented on #283
Some minor changes
1. Avoid using black on the borders
2. You can improve the colours of blue
3. doclense might be read as docolense beacuse of ashok chakra

[2022-03-30 13:39] jinosh05 commented on #286
Hello there, I have worked on it and fixed the issue at my branch

https://github.com/jinosh05/DocLense

[2022-03-31 13:23] #286 closed

[2022-04-08 05:49] jinosh05 opened #295 "App need to be responsive"
When the app is installed in average size mobile, it works properly.

When installed on a Tab of high resolution or Low resolution mobile, the screen seems to show overflow error.

Someone recommend me any package to implement responsiveness to the app.

Thank you

[2022-11-11 19:23] bornakpaul commented on #295
If this is still pending can you assign it to me ? @anushbhatia

[2022-11-14 07:42] anushbhatia commented on #295
yes, it is still pending